[2017-06-03 08:02] #2675 closed

[2017-06-06 16:21] FabriceGaudin opened #2676 "New function findKeys proposition"
I'd like to use a function but it seems it's missing. I didn't find any issue for this, and I didn't find it in https://github.com/documentcloud/underscore-contrib (but I'm not sure how to search efficiently here)

function description:
### findKeys
`_.findKeys(object, predicate, [context])`
Returns an array of keys where the predicate truth test passes (or empty array).

`_.findKeys({ a: 1, b: 2,

[2017-06-07 08:23] MissXueBB opened #2677 "Seeking Help: A brief survey of handover process in Github"
Sorry for interrupting you and we are so sorry to raise questions that are not relevant to development here.

We have e-mailed questionnaires to @Jeremy Ashkenas: jashkenas@gmail.com, @megawac: yeatesgraeme@gmail.com, @captbaritone: jordan@jordaneldredge.com. You can also reply us through email if you are interested in our research questions. Below is the content of our survey.

We're research stu

[2017-06-12 17:49] wesvetter commented on #2676
I can't speak for the maintainers but it seems like a pretty specific use-case. And the fact that Lodash doesn't implement anything similar makes it even more suspect. I can see wanting a _list_ of objects that match the predicate, but I've never needed to find keys matching a predicate on a _single_ object.

Can you give a real-world example of where you need to find keys matching a predicate on

[2017-06-12 19:09] jashkenas commented on #2676
Hey @FabriceGaudin. Can you talk a little bit about the specific use cases where this function would be useful?

[2017-06-13 08:12] sebastien-mignot commented on #2676
@wesvetter Lodash implements it : https://lodash.com/docs/4.17.4#findKey

[2017-06-13 08:13] sebastien-mignot commented on #2676
@jashkenas By @wesvetter's logic, that should be enough to implement it in underscore, no ? ^^

[2017-06-13 08:15] jdalton commented on #2676
@sebastien-mignot You're mixing up [findKey](http://underscorejs.org/#findKey) (singular) with `findKeys` (plural)

[2017-06-13 08:17] sebastien-mignot commented on #2676
@jdalton
Ok, my bad. And if every one agrees that sometime you need to find one such key, isn't it reasonable to expect that sometime one will need to find all such keys ?

[2017-06-13 19:10] wesvetter commented on #2676
Nope, there are many functions that Lodash implements that Underscore does not.

Is it common enough that it needs to be added to the core library though? A silly/contrived counter-example of that logic would be making `_.kebabcaseObject` just because Lodash supports `_.kebabcase`.

[2017-06-14 10:22] FabriceGaudin commented on #2676
Thank you for all your responses, here is my use case.
My object looks like this:
[code]
And I'd like to have all the runners whose progress is greater than 30.
I know that I can do it myself by combining other underscore functions but I am wondering if it is useful for anyone else.

cc @jashkenas

[2017-06-15 01:43] superbervin opened #2679 "An obvious mistake in function deepGet"
in line 150 of the underscore,js,the deepGet function should return an 'object' not a 'value' or 'undefine'.
below is my solution, anthing wrong, leave a comment,thanks:

var deepGet = function(obj, path) {
    var length = path.length;
    var fObj = {};
    for (var i = 0; i < length; i++) {
      if (obj == null) return void 0;
      if (obj[path[i]]&&path[i] in obj) fObj[path[i]] = obj[path[i]

[2017-06-17 19:12] wzup opened #2680 "Uncaught TypeError: Cannot read property '_' of undefined"
When I try to import the library into my ReactJS app, I get this error:

The error is thrown here. `root` is `undefined`.
[code]

Why does it happen? How to solve?

[2017-06-18 01:30] bjmiller commented on #2680
If you're transpiling with babel, or using `"use strict"`, the value of this will always be set to undefined, which is why `root` is undefined.  You need to do this differently.  This is not a problem with underscore.

[2017-06-30 09:44] fwoelm commented on #1789
Did this ever evolve into anything? I was looking for a similar method (deep diff) today and was very excited when I found an [amazing JS fiddle doing exactly that](http://jsfiddle.net/drzaus/9g5qoxwj/). If it does not already exist, then I think it would be a valuable addition to Underscore.js.

I don't think I'm the right person to propose the addition, but just putting this here in case anyone

[2017-07-03 09:07] gyf940349398 opened #2683 "The "if judgment statement" in "deepGet" function should be on the front"
I think the "if judgment statement" in "deepGet" function should be on the front,not in "for circulation "

==The code before modification==
var deepGet = function(obj, path) {
    var length = path.length;
    for (var i = 0; i < length; i++) {
      if (obj == null) return void 0;
      obj = obj[path[i]];
    }
    return length ? obj : void 0;
  };

==The code after modification==
var deepGet

[2017-07-09 11:56] jpli opened #2688 "_.max and _.min may behave incorrectly if iteratee returns infinite number"
The iteratee "swaps" the contents of the array, so `_.max` should return the smaller member:

    _.max([2, 5], function (value) { return value === 5 ? 2 : 5; });  // 2, correct

When the smaller member is `-Infinity`:

    _.max([-Infinity, 5], function (value) { return value === 5 ? -Infinity : 5; });  // 5, wrong

Similar for `_.min`:

    _.min([10, 5], function (value) { return value === 5 ?

[2017-07-11 22:41] #2680 closed

[2017-07-12 15:15] kamoroso94 opened #2689 "Dead link in index.html"
The link under the [`_.has`](http://underscorejs.org/#has) entry, "[overridden accidentally](http://www.devthought.com/2012/01/18/an-object-is-not-a-hash/)", is broken.  Maybe change it to link to http://www.pixelstech.net/article/1326986170-An-Object-is-not-a-Hash?

[2017-07-21 22:37] anvyne commented on #2688
I think that the conditional expression after `||` is used to favor some element of the collection over the default `Infinity` result.

For `_.min`, `Infinity` is the default result. It is preferred that some element from the collection is returned instead of the default value, even if its computed value is also `Infinity`.

[2017-07-21 22:54] anvyne opened #2690 "_.initial may be more verbose than it needs to be."
This is the code for `_.initial`:

      // Returns everything but the last entry of the array. Especially useful on
      // the arguments object. Passing **n** will return all the values in
      // the array, excluding the last N.
      _.initial = function(array, n, guard) {
        return slice.call(array, 0, Math.max(0, array.length - (n == null || guard ? 1 : n)));
      };

It seems that u

[2017-07-22 03:13] anvyne commented on #2690
Actually, I now see that it differs at the extreme case where `n` is `0`. It seemed like a compelling issue before that, though. It would be useless to write the extreme case: `_.initial(collection, 0)` since it would be equivalent to `collection` (give or take being a real array); however, it is quite possible that some code that needs to vary `n` might use the extreme case with `n = 0`. Because

[2017-07-22 03:13] #2690 closed

[2017-07-29 19:26] dqhendricks commented on #71
why is this not in the documentation?
https://lodash.com/docs/4.17.4

[2017-08-14 10:06] zihuyishi opened #2691 "uniq with big array will be very slow."
my test code
[code]
this code will print 8230 in my machine, mean uniq take about 8 seconds.
compare to my simple code
[code]
this will only take 15ms
my underscore version is 1.8.3

[2017-08-14 19:05] #2691 closed

[2017-08-16 15:27] jasongrout opened #2692 "isEqual incorrectly compares DataView objects"
isEqual returns true for the following comparison, when it should return false:

[code]

This is in underscore 1.8.3.

[2017-08-16 15:29] jasongrout commented on #2692
It also appears to handle ArrayBuffers incorrectly:

[code]

[2017-08-16 15:57] jasongrout commented on #2692
(lodash 4.17.4 correctly returns false for each of the above cases)

[2017-08-17 12:32] jasongrout commented on #2692
@jashkenas - What is the possibility of getting a 1.8.4 released that has a fix for this if we submit a PR with a fix and tests? If we do submit a PR, should we submit it against 1.8.3?

[2017-08-18 16:32] jashkenas commented on #2692
@jasongrout PR's should be submitted against master, and we can certainly merge and release a fix.

[2017-08-18 16:46] jasongrout commented on #2692
@maartenbreddels and I looked into this and he submitted #2693. We can fix that PR, if you want. This problem cropped up in using backbone, and in the meantime, I've overridden backbone's set function to use lodash for the isEqual function (https://github.com/jupyter-widgets/ipywidgets/blob/ba4a4077ae3623eb83f42265a8c769d1cdb36ed7/packages/base/src/backbone-patch.ts)

[2017-08-18 17:20] jasongrout commented on #2692
(to be clear, @jashkenas, let us know if you want @maartenbreddels and I to iterate on #2693 - the response there wasn't very encouraging, so we aren't sure if you want to take it on or if you want us to pursue it further.)

[2017-08-18 17:34] jashkenas commented on #2692
Patching it for now in your copy of Backbone is a fine way to go — and you're welcome to iterate on #2693, or to submit a different PR.

The ticket was closed because just nakedly trying to convert the objects into DataViews and silently catching any error seems like very much the wrong way to go. What if `a` and `b` are objects with `.buffer` properties that happen to be ArrayBuffers? Etc.

[2017-08-18 17:37] maartenbreddels commented on #2692
Ok, that would have been a more appropriate reply. The other option would be to whitelist all (now) known typed arrays.

[2017-08-20 11:08] xiaoliwang opened #2695 "_.random can return double sometimes"
[code]

_.random(5.1, 6) then we will get double not integer return. I think it is a bug because the doc told me I can get a random integer as return

[2017-08-25 19:56] sreekarmuddu commented on #2695
min and max should probably be rounded before applying the formula

[2017-08-27 03:56] VzqzAc commented on #2695
I created a pull request for this, see [#2696](https://github.com/jashkenas/underscore/pull/2696)

[2017-09-01 17:39] malloc32 opened #2697 "_.groupBy does not work with a property that it is an object"
_.groupBy does not work with a property that it is an object

Example code:

var event0 ={data:"0"};
var event1 ={data:"1"};

var list = [
{key:event0,result:{providerId:0,calendarId:"00",eventId:"000"}},
{key:event0,result:{providerId:1,calendarId:"11",eventId:"111"}},
{key:event1,result:{providerId:1,calendarId:"22",eventId:"222"}}
]

var out = _.groupBy(list,'key');

out is an ungrouped array :

[2017-09-01 21:20] forguta commented on #2697
`var event0 ={data:"0"};
var event1 ={data:"1"};

var list = [
{
key:event0,
result:{providerId:0,calendarId:"00",eventId:"000"}
},
{key:event0,result:{providerId:1,calendarId:"11",eventId:"111"}},
{key:event1,result:{providerId:1,calendarId:"22",eventId:"222"}}
]

var out = _.groupBy(list,function (value) {
                return value.key.data;
            });
console.log(out);`

[jsfiddle](http

[2017-09-02 06:23] malloc32 commented on #2697
Thank you very much, but really event has a lot of properties, none of then are id, I need that it can group by "objects",I think this should be the natural behavior of the method groupBy...

[2017-09-05 20:34] #2697 closed

[2017-09-08 10:49] cyrilchapon commented on #1343
Why was this issue silently closed ?

[2017-09-12 11:36] MylesBorins opened #2698 "throttle triggers trailing call when invoked repeatedly flaky in CITGM"
✖ throttle triggers trailing call when invoked repeatedly
     failed, expected argument to be truthy, was: false
     false != true

This is being on and off flaky on a variety of platforms including ubuntu + debian + osx.

Any idea what's going on?

specifically on Node v8.x

[2017-09-14 09:34] lilililee opened #2699 "MAX_ARRAY_INDEX = Math.pow(2, 53) - 1; is a worry set in line 163"
from this property name we may consider a array max lenth is Math.pow(2, 53) - 1, but I have do a simple test ,like this:   var arr = [];  arr.length = Math.pow(2, 53) -1 ;   then running in lastest chrome browser, the console is  print a error: Uncaught RangeError: Invalid array length,  after searching related infomation and test,  I found  Math.pow(2, 32) - 1  is the critical value, this should

[2017-09-29 10:02] sky0014 opened #2701 "npm package(1.8.3) is not the latest source code."
Although version is both 1.8.3, npm missing _.throttle.cancel method.

[2017-10-03 05:12] curtiscali commented on #2423
Hey @mcandre I'm willing to try an take a crack at this to help contribute. I'd like to clarify what exactly you'd like to use `iteratee` for though. For example: do you want it to return a value like for `map` or just be a general function like `each` that doesn't necessarily have a return value? Better yet could you give an example code snippet of the type of usage you had in mind?

[2017-10-09 18:49] MylesBorins commented on #2698
Just a quick ping that we are still seeing this quite a bit.

We are likely going to turn off CITGM for underscore if we cannot resolve this flaky test

[2017-10-19 11:17] MiltonAkash commented on #2689
I have changed this. Merge this
https://github.com/jashkenas/underscore/pull/2704

[2017-10-25 08:22] darren-a opened #2705 "_.uniq iteratee function, when run on sorted array, can return extra value sometimes"
My understanding is that iteratee in these examples will transform the array to true or false values, get the two unique values, and then return the original values that were the cause of the two unique transformations.

So in Ex 1 below, the transformed array would be: [false, false, false, true, false, false], so the two unique values would be 1 (false) and 3 (true). For sorted arrays like this,

[2017-10-25 18:15] sament-sugarcrm commented on #2328
If you're going to defer this to 2.0, I'd recommend adding a note to the documentation. It says to check _.partial for the partial binding, which leads the reader to believe that _.bind also supports it.

[2017-10-25 20:01] darren-a commented on #2705
As a point of reference results for lodash 4.x (tested with jsbin today; slightly different function, does not care about ordering) returns following:

[code]

[2017-10-26 07:12] hs794258583 opened #2706 "about the prototype chain of _.bind when there is no native bind, what the details as below"
function Animal(name,color){
	this.name = name;
	this.color = color;
}

var Cat = _.bind(Animal,{},"jerry");
var cat = new Cat('red');
//case1
console.log(cat instanceof Animal);
//return true;

case2
console.log(cat instanceof Cat);
//return false;

//Ps: I think in the case2 , it should be true;

[2017-10-27 12:52] cancerberoSgx commented on #1928
And I thought if there was one js library I wound't have compatibility problems would be underscore.... and in a minor version !!! there are no excuses for this...  :(

[2017-10-28 06:11] darren-a commented on #2705
I see why this is happening. In my "transform" there is no 1 to 1 mapping from x to f(x), as it's actually a test and not a transform. Therefore the iSorted efficiency gain won't yield expected results; or to put it another way, I shouldn't have fed _.uniq with a non-transforming iteratee.

[2017-10-28 23:02] alanzheng88 opened #2708 "Include flattened array test case for allocation of empty array of size N"
As a minor enhancement, it would be good to include a test case for flattening an empty array of size N `assert.strictEqual(_.flatten([new Array(10)]).length, 10, 'can flatten an empty array of size N');`
to make debugging a bit easier when
the test case for `assert.strictEqual(_.flatten([new Array(1000000), _.range(56000), 5, 1, 3]).length, 1056003, 'can handle massive arrays')` fails

[2017-10-31 07:35] Lake1GitHub commented on #2705
if isSorted is true, 'computed' just compare with 'seen'.in Ex1,numbers is not sorted actually.

`computed = iteratee ? iteratee(value, i, array) : value;`

numbers = [1, 2, 2, 4, 4, 3] or numbers = [3, 1, 2, 2, 4, 4]  is sorted
because the array is [false, false, false, false, false, true] or [true, false, false, false, false, false] actually

[2017-10-31 07:58] darren-a commented on #2705
Ex1 does use a sorted array, prior to applying any kind of transform. I assume the caller of uniq can only really specify the 'sortedness' of the collection prior to applying a transform.

It seems that, if given a sorted collection, the transform that uniq applies cannot impose its own ordering, ie. 'un-order' the collection, since that could render an inaccurate result.

[2017-11-01 08:19] a13821190779 opened #2709 "I think there's a problem here => #1227"
https://github.com/jashkenas/underscore/blob/20e7c6e164085e832b6140acc690d6f66f7f6c63/underscore.js#L1227
[code]

[2017-11-05 15:25] paulfalgout commented on #2701
There hasn't been a release since 1.8.3, but master is always latest.  This is expected

[2017-11-05 15:44] sky0014 commented on #2701
Ah, I see, that's a long time 😄

[2017-11-09 17:47] #2709 closed

[2017-11-09 20:06] jashkenas commented on #2705
I'm afraid this is behaving as expected: You passed `isSorted=true`, but the values you were trying to compare were `[false, false, false, true, false, false]` ... which isn't sorted. This will break every time.

[2017-11-09 20:06] #2705 closed

[2017-11-16 01:16] #2706 closed

[2017-11-19 06:34] zhangenming opened #2712 "about isFunction"
`if (typeof /./ != 'function' && typeof Int8Array != 'object') {
    _.isFunction = function(obj) {
      return typeof obj == 'function' || false;
    };
  }`
if the expression
(typeof /./ != 'function' && typeof Int8Array != 'object')
result is false, the isFunciton will be undefined
there will be error when some else function call isFunction?
thanks
[english bad, sorry]

[2017-11-19 15:24] targumon commented on #2451
Any progress/update? (I'd love to assist, but don't want to make a redundant PR)

[2017-11-23 07:46] zenghj opened #2714 "_.uniq sorted array with iteratee which is a nonlinear function,produce unexpected result"
_.uniq([-2,-1,0,1,2], true, function(x) {return x * x})

the result is  [-2, -1, 0, 1, 2]

the expected result should be [-2, -1, 0], am I right?

[2017-11-27 18:24] jashkenas commented on #2714
Yep, that's a bug!

[2017-11-27 22:39] #2714 closed

[2017-11-29 08:32] huangtt29 opened #2716 "_.lastIndexOf looks wrong on NaN"
_.lastIndexOf(array, value, [fromIndex])

`console.log(_.lastIndexOf([1, 2, 3, 1, 10, 0], 10,-8))`

//  -1

`console.log(_.lastIndexOf([1, 2, 3, 1, NaN, 0], NaN,-8))`

//  4

It performs differently.

And I think the first one is correct.

Maybe it's not good to use slice to check NAN.

Also, If I am wrong, please point it out,Thanks.

[2017-11-29 19:31] #2716 closed

[2017-11-30 05:19] huangtt29 commented on #2716
sorry, you put invalid tags on this issue. But I don't know why. Can you give me a hint about something wrong?

[2017-11-30 08:02] lxsea20150901 opened #2717 "Recommendations of the each method"
When the each method returns the false value in the callback function, it is hoped that the current loop can be leapt out

[2017-11-30 19:12] #2717 closed

[2017-12-01 13:00] linorabolini commented on #2125
I just needed to compare objects recursively, so I extended it a bit. It is a custom one but it might be useful for someone. It supports recursive object check:

function(object, attrs, deep) {
    var keys = Object.keys(attrs), length = keys.length;
    if (object == null) return !length;
    var obj = Object(object);
    for (var i = 0; i < length; i++) {
      var key = keys[i];
	  if(deep && t

[2017-12-01 20:47] nandy-andy commented on #2689
Looks like merged and fixed :+1:

[2017-12-04 15:16] #2689 closed

[2017-12-04 15:19] akre54 commented on #2712
This is, if I recall correctly, a bugfix for Safari.

In the future please ask questions to StackOverflow or the mailing list. Thanks!

[2017-12-04 15:19] #2712 closed

[2017-12-30 16:30] mjeanroy opened #2718 "ES modules exports"
Hi,

Is there a plan to migrate to ES Modules in the future or do you consider it worthless? It would be great to be able to import individual methods using ES imports, allowing tree-shaking and many other build optimization.

I'm sorry if this question has already been asked, but I searched in issue and could not find anything about it. Thanks for all the work behind underscore!

[2018-01-03 00:13] binarykitchen opened #2719 "debounce's cancel() fn missing when webpacked"
I am not 100% sure if that's really the case. But when I look at the bundle webpack has generated, it seems it did remove the `.cancel()` function debounce is supposed to return with the debounced instance.

This here is the code from webpack. There is no cancel():

[code]

Using latest underscorejs version 1.83 here.

[2018-01-03 01:13] captbaritone commented on #2719
Can you reproduce this with a project which consists of only Underscore and has a minimal config?

[2018-01-10 16:56] MarkAdell opened #2721 "random will not work as expected if the higher parameter is passed first"
After looking at the random function, I found out that it doesn't handle the case of min being higher than max.
[code]
My solution
[code]

Should I do a pull request?

[2018-01-10 17:02] craigmichaelmartin commented on #2695
This issue can be closed. See https://github.com/jashkenas/underscore/pull/2696#issuecomment-343276407

[2018-01-10 17:39] typerory commented on #359
@jtfairbank exactly what I need and probably what most people need when they come here looking to 'filter' an object and create an object.

[2018-01-10 18:12] #2695 closed

[2018-01-10 18:14] jashkenas commented on #2721
Nope — we generally don't want to add code to support invalid calls.

[2018-01-10 18:14] #2721 closed

[2018-01-10 18:57] MarkAdell commented on #2721
Alright, I thought this would make it more robust. It's hard for developers unintentionally using the function like that to discover that it's not working correctly, this actually happened to me, so I had to use lodash which handles this case.

[2018-01-17 09:10] andresroberto commented on #2719
That's because the .cancel function inside the debounce implementation was added on November 5th 2015 as .clear ([see commit](https://github.com/jashkenas/underscore/commit/c7bb6359a4fd57113b5a6f4ac9e89012c179e87a#diff-0f36b362a0b81d6f4d4bfd8a7413c75d)) and renamed to .cancel on November 10th 2015 ([see commit](https://github.com/jashkenas/underscore/commit/e8c252b205813fbb4070cf87118f6502dc1099be

[2018-01-17 09:15] andresroberto commented on #2701
Do you have plans on doing a new release any time soon?

[2018-01-17 09:30] andresroberto commented on #2699
Hi. It was previously discussed here -> https://github.com/jashkenas/underscore/issues/2313

[2018-01-19 05:28] usman250994 commented on #1207
I have created a package/ function which can search deep down in nested Object or in array of nested Objects. and returns the required key/s and value/s. as a new object. Please have a look to it.

Even if you have multiple occurances of a same name key. It will return an array of all values as the value of that key name.
Please have look to the demo as well
https://www.npmjs.com/package/uas-get-m

[2018-01-22 18:30] NarHakobyan commented on #2370
use underscore.get module

`const {get} = require('underscore.get');`

[2018-01-26 22:50] Francefire opened #2722 "ReferenceError: _ is not defined"
After having some trouble installing underscore (because it's not underscore.js but only underscore), I try to use a underscore function (_.once) but I get this error, I have `const Underscore = require("underscore")` on the top of my code, but still, and when I try `const Underscore = require("underscore.js")` it doesn't find the modul, so you could please enlighten me ?

I'm a reall beginner at

[2018-01-27 17:05] Rayraz commented on #2722
Your code loads the underscore library into a constant named `Underscore`.
What I think you want is: `const _ = require("underscore");` which will load the underscore library into a constant named `_`.

[2018-01-27 22:41] Francefire commented on #2722
Omg thanks, since I didn't take any lesson of javascript I wasn't understanding what did this command really means, but now I got it, thanks :D

[2018-01-28 06:16] #2722 closed

[2018-01-31 11:12] OliverJAsh commented on #1237
This issue is old, but I think there's a flaw in this argument, so this may be worth reconsidering.

I don't think this will work if you're zipping an arrays which intentionally have `undefined` values. How would you distinguish `undefined` values that come from the source array versus ones that are due to `zip`s current behaviour? E.g.

[code]

[2018-02-13 16:43] vinayshah opened #2727 "Unescape not used globally"
[single Quote escape issue](https://github.com/jashkenas/underscore/blob/e4743ab712b8ab42ad4ccb48b155034d02394e4d/underscore.js#L1341)

Why is the escape and escaping of "'" not used globally? As other language escape "'" to `&#039;` where underscore js to `&#x27;`

[2018-02-15 19:35] jashkenas commented on #2727
`27` is `39` in hexadecimal.

[2018-02-15 19:35] #2727 closed

[2018-02-19 15:13] YuriGor commented on #1590
Hi folks, so is there any workaround to fix this?
I have to iterate over echarts3 options object recursively, and there are a LOTS of 'length' keys so I fail often.

[2018-02-23 14:28] olleboll commented on #1514
Is this still Open as in you want this implemented? I've made a solution that simply ignores arguments that aren't arrays and would love to contribute, even though it's very basic :)

[2018-03-02 06:36] #2699 closed

[2018-03-06 01:52] Kelichao commented on #2718
Feel it is not there yet

[2018-03-11 08:19] xlshen opened #2731 "undefined as an argument of argCount in optimizeCb (version 1.8.3)"
**undefined as an argument of argCount**

In version 1.8.2: `switch(argCount == null ? 3 : argCount){...} `
If the argCount is undefined, such as` _.each()`, will work fine because of `undefined == null`.
But if merged in version 1.8.3, the _.each() will go to the default condition:
`return function() {
            return func.apply(context, arguments);
        };`
Because the `switch()` use the `

[2018-03-19 19:07] advaittrivedi opened #2733 "Upgrade to 1.8.3 from 1.4.4"
Is version 1.8.3 compatible with 1.4.4. I am using 1.4.4 and would like to know if I will face any known issues upgrading to 1.8.3?

[2018-03-19 19:23] jashkenas commented on #2733
http://underscorejs.org/#changelog

[2018-03-19 19:23] #2733 closed

[2018-03-22 05:27] anotherleon commented on #2512
**I think I found a another Bug:**
if  obj.constructor was overwirtten，and constructor.ptototype.toString = null
eg:
[code]
I think the problem is  `var proto = (_.isFunction(constructor) && constructor.prototype) || ObjProto; ... if(...obj[prop] !== proto[prop]...) `
Am I understanding this right?

[2018-03-22 14:48] naholyr commented on #237
![image](https://user-images.githubusercontent.com/214067/37777582-339ed206-2de8-11e8-8b8b-acaa68c49292.png)

[code]

Minifiers should not break that as it's a static string, but can we reasonably rely on that? It's arguaby more elegant than `arguments[0]`.

[2018-03-24 02:03] unquietwiki commented on #2718
I was able to add **module exports { _ }** to the end of my underscore.js file, to at least resolve the error message for importing as **import _ from 'underscore.js'**

[2018-03-24 23:43] seanCodes commented on #2701
Bump. @jashkenas, when could we expect a new release? We’re coming up on the 3 year anniversary of 1.8.3 in a week here... 😅

[2018-03-26 17:18] nebulousdog commented on #2557
would be nice to have module exports

[2018-03-27 21:34] scottdear opened #2734 "Sprint, counts are off for criteria 4457"
A new criteria was created that appears to have correct counts 4463.  He is also asking about a Prospector Universe Refresh, which I'm not sure about.  I also returned Jeffs call, but got no answer.

[2018-03-27 22:33] #2734 closed

[2018-03-30 00:19] nebulousdog commented on #2718
would be awesome :+1:

[2018-03-30 06:57] figozhu opened #2735 "_.uniq performance issue(after invoke _.lastIndexOf)"
env:

only run _.uniq cost 1000ms
run _.uniq **after _.lastIndexOf for an array of string**, cost 5000ms

[code]

[2018-03-30 17:01] #2735 closed

[2018-03-31 07:57] figozhu commented on #2735
why close this issue?
lastIndexOf only can search array of number?

[2018-04-05 13:53] stefanocudini opened #2737 "proposal for new method Object to Collection"
hi,
I would like to implement a new method to create a collection(arrays of objects) from the properties of an object, here the use case is explained:
https://stackoverflow.com/questions/49611332/underscorejs-object-to-collection

the logic is very simple and very often I found myself having to solve this problem.
Now it seems to me that there is not a single method that implements this algorithm

[2018-04-05 17:16] jashkenas commented on #2737
I don't think that we would merge that function, but you're welcome to `_.mixin` it yourself.

[2018-04-05 17:16] #2737 closed

[2018-04-14 02:34] ViniciusSasso commented on #1805
Underscore and Backbone are so dead now...lol

[2018-04-14 13:02] acstll commented on #1805
Dead or alive they deserve respect.

[2018-04-18 02:24] RobertLowe commented on #2701
@jashkenas bump, the internet still loves underscore, 2011 -> 2015 npm had love, 2011->2018 community loves underscore.

Most stable library ever. 👍

Thanks, so many times over.

[2018-04-18 17:00] jashkenas commented on #2701
Let's do it!

[2018-04-18 17:14] RobertLowe commented on #2701
Awesome!!
`<waits excitedly>`
😄

[2018-04-18 18:48] jashkenas commented on #2701
Boom, 1.9.0:

http://underscorejs.org/#changelog
https://github.com/jashkenas/underscore/compare/1.8.3...1.9.0

Let me know if you run into any problems ... or if there's anything important that I've forgotten to add to the changelog.

[2018-04-18 18:48] #2701 closed

[2018-04-18 19:30] jashkenas commented on #2719
1.9.0 is out now.

[2018-04-18 19:30] #2719 closed

[2018-04-18 20:11] rodoabad opened #2740 "v1.9.0 has failing tests"
Looks like a couple of them are failing after releasing `1.9.0`

https://travis-ci.org/jashkenas/underscore/jobs/368290774

Running against Node 4.

<img width="830" alt="screen shot 2018-04-18 at 3 08 08 pm" src="https://user-images.githubusercontent.com/1240667/38955598-c191af60-431a-11e8-93ec-d06b58c2636d.png">

Will you guys add testing against the newer versions of Node?

[2018-04-18 20:14] jashkenas commented on #2740
Happy to take a PR that fixes the test suite / adds new versions of Node.

[2018-04-18 21:15] jashkenas commented on #2740
I've fixed it for now by removing the attempt at Karma/browser testing, instead using the latest supported versions of Node + the latest released Node version:

https://travis-ci.org/jashkenas/underscore

Happy to take a patch that brings back a working Karma config.

[2018-04-19 11:13] ksullivan opened #2741 "1.9.0 regression. Calling first or last on an empty array returns undefined."
With 1.9.0 `_.first([], 10)` returns `undefined` instead of `[]`.

I think this is a big problem :stuck_out_tongue:

[2018-04-19 11:27] ksullivan commented on #2741
Wow... It almost looks like this was an intended change... https://github.com/jashkenas/underscore/pull/2513

Personally, I think you would expect `_.first([], 2)` to be `[]` following from `_.first([1,2,3], 2)` being `[1,2]`

[2018-04-19 17:12] jashkenas commented on #2741
That does look like a nasty little regression to me — when called with the number of items specified explicitly. Any other opinions? @jridgewell?

That said, it does raise the question of what `_.first([], 1)` should be.

[2018-04-19 17:15] jridgewell commented on #2741
Whoops, poor review on my part. Passing in a `n` argument should always return an array.

[2018-04-19 17:50] jashkenas commented on #2741
No worries, we can do a 1.9.1 with any other cleanups that arise — plus maybe settling some of the other open PRs...

[2018-04-23 08:13] BoringDay opened #2742 "_.shuffle may behave incorrectly"
in _.shuffle  function:
[code]

some situation may behave incorrectly when the rand always return 1 or some other same value

`_.shuffle([1, 2, 3, 4, 5, 6]);`
result :
`[undefined, 6, 2, 3, 4, 5]`

[2018-04-23 20:02] jashkenas commented on #2718
Is there any good way we can add module exports to the main file, while maintaining backwards compatibility with non-module-supporting versions of JavaScript?

[2018-04-23 20:02] jashkenas commented on #2708
Sounds fine — feel free to send a PR!

[2018-04-23 20:02] #2708 closed

[2018-04-23 20:05] #2683 closed

[2018-04-23 20:05] #2679 closed

[2018-04-23 20:07] #2663 closed

[2018-04-23 20:07] #2644 closed

[2018-04-23 20:08] #2629 closed

[2018-04-23 21:13] unquietwiki commented on #2718
However Babel does it?

On Mon, Apr 23, 2018, 1:02 PM Jeremy Ashkenas <notifications@github.com>
wrote:

[2018-04-23 21:16] nebulousdog commented on #2718
maybe `core-js` is a good example, although probably too modular to directly follow https://github.com/zloirock/core-js

[2018-04-23 22:00] lubelski opened #2745 "_.range throws error on Infinite values (1.9.0 regression)"
`1.8.3`

[code]

`1.9.0`

[code]

the code that caught us with this change was something like...

[code]

where previously this would return an empty array.   now it throws.  we put a guard in for `items` being empty but we use range all over.

It looks like the old assumption that step was positive would implicitly prevent the computed array length from being nonsensical.

`1.8.3`

https://github

[2018-04-24 03:35] BoringDay commented on #2742
oh,sorry.it's my fault.

[2018-04-24 10:36] mjeanroy commented on #2718
@jashkenas Thanks for your response.

I don't think that it is possible to add the import statements on top of the main file and maintaining backwards compatibility without any transpilation task.

The easiest solution, for me, would be to have a build task to translate import statements to UMD using babel and publish two versions of underscore: the first one with  `export` and a second one for `u

[2018-04-24 13:41] ErikLarsson82 opened #2746 "Possible regression on bindAll in 1.9.0"
Hello,

We noticed something in our codebase while upgrading from 1.8 to 1.9 today.
In combination with **Ramdas (0.25.0) curry** function, we now had a different behaviour than before.

Behaviour using underscore 1.8:
[code]

Behaviour using underscore 1.9:
[code]

A solution is to skip bindAll completely and bind separately:
[code]

I fully understand that debugging underscore in _combination_ w

[2018-04-24 17:15] jashkenas commented on #2746
The diff in the `bindAll` function is here:

https://github.com/jashkenas/underscore/compare/1.8.3...1.9.0#diff-0f36b362a0b81d6f4d4bfd8a7413c75dL738

![image](https://user-images.githubusercontent.com/4732/39202941-55c9baf6-47a8-11e8-8625-ebd2958b7dbb.png)

Do you mind tracking down the bug, and telling us more about what and where exactly things are going wrong?

[2018-04-24 19:07] jashkenas commented on #2745
Hmm, I'm not sure. Since `_.range` constructs eager arrays of numbers, and not lazy ones — it seems like infinite ranges ought to throw an error instead of returning an empty range.

What do other folks think?

[2018-04-25 08:09] ErikLarsson82 commented on #2746
I did some more testing and if i switch the order (curry first, then bindAll) I get the correct behaviour again.
I tried to dig some but I don't have time for more investigation right now.

[2018-04-25 10:38] roy-lau commented on #749
_.isNaN(new Number(0));
// true

[2018-04-25 19:57] lubelski commented on #2741
gracias.  this one bit us too today.

[2018-04-28 05:58] unquietwiki opened #2749 "Suggestion: have a look at the DeepCode & StandardJS"
I've sorta stumbled into JS development the past 2 months, and finding a whole array of interesting development tools in the process. Today, "DeepCode" went live; and I have been trying to use your Backbone & Underscore stuff with a project I'm trying to fix up, so I figured I'd see what it'd have to say about this project. Half the results are in regards to unit testing; something I'm not good at

[2018-04-30 20:28] #2749 closed

[2018-05-02 13:59] Reveur000 opened #2751 "_.keys do not work right in IE9 if the value of the property is NaN"
[code]

this is caused by function collectNonEnumProps.

[code]

in fact, there should add a  judgement ,because obj[prop] may be NaN.

[code]
use `_.has(obj,prop)` can fix it.

[2018-05-02 14:29] Reveur000 opened #2752 "binary search in _.sortedIndex is not rigorous."
[code]

the result of (low+high) can be  bigger than 9007199254740991,which is imprecise.

To make sure the result do not be bigger than it, we can avoid it by using this method.

`var mid =Math.floor((high-low)/2)+low;`

[2018-05-08 17:00] dwilches commented on #1391
Is there now an alternative method that can be chained and allow modifying elements of an array in place? I was searching for something like a `peek`:

    _.chain(myArray)
        ...
        .peek(e -> e.craftedVar = e.otherVar * 2)
        ...
        .value();

[2018-05-09 06:19] Codedogdogdog opened #2755 "isArrayLike has a bit problem?"
when i see the underscore's source, i find isArrayLike use very frequent. but i think isArrayLike has a bit problem.
[code]
This is a part of _.each.

if obj has `length` property, and satisfied conditions, we use `_.each` or any other iterate function, the result is undefined, but it's not what i want. so i think this is a bug ?

if this has any other consider, pls tell me.

[2018-05-09 23:13] Husterknupp opened #2756 "1.9 regression failing in groupBy"
Hi folks, I couldn't find an issue containing the `groupBy` function. So I'm creating one. Please redirect if I missed anything. Thanks for all the hard work. Appreciate it!

When updating from version 1.8.3 to 1.9.0 the behaviour of `groupBy` changed in a way that grouping by arrays was possible in 1.8.3, but it's not possible in 1.9.0. At least not as I'm expecting it to work 🤔

The below test w

[2018-05-10 17:45] captbaritone commented on #2756
Thanks for reporting this. I think we need to switch to a simpler version of `_.has` for our internal use. In most of our six internal cases, we don't actually want the special behavior for Arrays (deep property access).

I think we probably do need to support the case where someone wants to group by (or count by) a key that is not a string, but could be coerced to a string.

I'll look into making

[2018-05-10 18:19] captbaritone commented on #2745
I would agree that this should throw.

[2018-05-10 18:31] Husterknupp commented on #2756
thanks @captbaritone . This should work but I don't want to change my code right now. I'm not super eager to use 1.9 and can wait a bit more.

[2018-05-10 20:57] #2756 closed

[2018-05-10 20:59] captbaritone commented on #2756
This will be fixed in the next release.

[2018-05-10 21:13] captbaritone commented on #2755
Duplicate of https://github.com/jashkenas/underscore/issues/1590

[2018-05-10 21:13] #2755 closed

[2018-05-10 23:55] captbaritone commented on #2731
I don't see where it's possible for `optimizeCb` to get passed `null`. Can you give an example of using the external API that will cause `optmizeCb` to get passed `null`?

[2018-05-10 23:59] captbaritone commented on #2752
Is this theoretical, or something you've actually hit in real world example?

[2018-05-11 00:54] captbaritone commented on #2746
Looks like this is just a change in how `_.bind` works as of https://github.com/jashkenas/underscore/pull/2199.

I put together a demo to verify:

[code]
[Try it here](https://cdn.rawgit.com/captbaritone/86b6cc132946bc21c57e0ccef95e792b/raw/f693c66f5c128b6fe87d9bd4b7fd613cd992264a/bind.html)

[2018-05-11 00:54] #2746 closed

[2018-05-11 14:02] Reveur000 commented on #2752
It's theoretical and I made a mistake , the length of array will never be greater than 2^32,so this condition will never happen.
However,this is a better way of coding than this.This way of coding brought about some bug in java
in the past.

[2018-05-11 14:12] captbaritone commented on #2752
Got it. Thanks for flagging, but I think we’re prefer the simpler code over the theoretically safer version. Thanks again!

[2018-05-11 14:12] #2752 closed

[2018-05-21 13:50] andreialecu commented on #2741
This one leads to very obscure bugs in edge cases in lots of various places in a bigger app in my case.

Should it not be a priority?

[2018-05-21 23:51] Badestrand opened #2759 "Babel-conformity ("Cannot read property '_' of undefined"
Hi everyone

I am trying to include to

[2018-05-28 09:27] PradeepJaiswar opened #2761 "How to add production version via npm?"
How to add production version via npm like `npm install <production-version>` ?

[2018-05-29 17:06] tgolen commented on #2741
This one also bit us. Luckily it was caught by some unit tests before we rolled it out live. I'd be grateful for a quick fix.

[2018-05-30 12:22] carpben opened #2762 "Debounce function documentation"
According to the documentation at http://underscorejs.org/docs/underscore.html#section-86 the debounce function:

I think this phrasing is a bit misleading, as the function that won't be triggered is the first parameter it recevies.

[2018-05-30 16:59] jashkenas commented on #2762
Want to send a PR that improves it, and get the credit for the change?

[2018-05-30 17:41] carpben commented on #2762
Yes I would, thanks. I'll post a suggestion later this week.

[2018-05-31 19:40] #2761 closed

[2018-05-31 19:47] #2741 closed

[2018-05-31 19:48] #2731 closed

[2018-05-31 19:50] jashkenas commented on #2745
Then let's leave this alone for now. Happy to add more test cases to assert that it's behaving properly, if anyone has any.

[2018-05-31 19:50] #2745 closed

[2018-05-31 19:50] #2751 closed

[2018-05-31 19:51] #2759 closed

[2018-05-31 21:14] jashkenas commented on #2741
Alright! Underscore 1.9.1 is now published, with this bugfix in it.

[2018-05-31 23:58] captbaritone commented on #2741
Thanks @jashkenas

[2018-06-08 20:16] davideicardi opened #2764 "karma-sauce-launcher should be inside devDependencies not dependencies"
It is correct that `karma-sauce-launcher` is installed as a production `dependency`? I think it should be inside devDependencies section. I'm right?

https://github.com/jashkenas/underscore/blob/c0e8feff7fc66ba399409ea0798e32d2806f3ff3/package.json#L50-L52

thanks

[2018-06-08 21:58] jashkenas commented on #2764
Quite right. That's just **awful!**

Thank you for catching it promptly.

[2018-06-08 22:00] #2764 closed

[2018-06-15 16:49] theel0ja opened #2768 "Force HTTPS 🔒"
The site supports HTTPS (https://underscorejs.org/) since Github [introduced HTTPS support for custom domains](https://blog.github.com/2018-05-01-github-pages-custom-domains-https/), so you should fix the mixed-content warnings and force HTTPS.

[2018-06-15 19:29] jashkenas commented on #2768
Done and done. Thanks!

[2018-06-15 19:29] #2768 closed

[2018-06-17 07:40] riophae opened #2770 "The implementation of debounce with immediate is incorrect"
For example:

[code]

Results in:

[code]

However, with lodash:

[code]

We'll get:

[code]

Obviously the implementation of lodash is more correct. **underscore's debounce misses the last call.**

[2018-06-17 07:57] riophae commented on #2770
Now I give another example that more closes to the real-world usage. Say I have an input, as the user types we'll constantly sending request to get data from a remote server. With `immedaite=true`, as soon as the user types the first letter, the first AJAX call will be sent. If the user types very quickly and completes his typing earlier than `wait`, we'll miss the very last call. That's totally u

[2018-06-19 13:43] mafiosso opened #2771 "Missing mapcan function."
In many cases I need to map some list/array and remove some subset of original items. In Common Lisp there exists useful procedure mapcan which shortens list if iteratee return nil. I suggest simple implementation for underscore:

[code]

[2018-06-28 04:19] mesqueeb commented on #2557
How about now?

[2018-06-28 16:46] jashkenas commented on #2557
Maybe now is a good time?

[2018-06-29 07:07] tnga commented on #2557
Following can be a proposal since it have been release few days after have opened this issue.

https://github.com/tnga/underscore-es

[2018-07-07 07:09] milad1367 commented on #2771
Hi, if you want I can fix it .

[2018-07-08 08:11] mafiosso commented on #2771
It will make me happy :+1:

[2018-07-11 06:44] Priya08Nirmal opened #2772 "_.bindAll is attached to next screen"
Hi,

I used _.bindAll(this, "funcName"); to use this pointer in callback function. This function is callback for scroll event.
The callback checks for scroll bar, if it is at the end of screen I load next set of data and this process happen till the data fetched from DB.
This functionality works fine. However when I go to next pages the scroll event is still attached to previous screen. So along w

[2018-07-14 10:33] hooper-hc opened #2773 "why delete obj[0]"
in unjs 1.9.1  source

[code]

this line why need 'delete obj[0];'
```if ((name === 'shift' || name === 'splice') && obj.length === 0) delete obj[0];```

[2018-07-23 19:19] David2913 commented on #2622
I think this issue should be closed to avoid having so many opened issues, as wotkuni said, it was solved in #2655

[2018-07-27 21:03] AaronNGray opened #2774 "npm run node-test does not work as qunit-test does not support wildcards yet"

[2018-07-27 21:04] AaronNGray commented on #2774
Added wildcard support to **qunit-cli** as issue https://github.com/devongovett/qunit-cli/issues/17 waiting on pull request.

[2018-07-29 16:11] AaronNGray commented on #2774
done https://github.com/devongovett/qunit-cli/pull/19

[2018-07-30 14:33] nikkorn opened #2775 "Adding _.single"
Would anyone be interested in a function that behaves much in the same way as _.find, but only returns the first item to pass the predicate truth test IF only a single item passes it, otherwise undefined.

I'm not sure whether this is useful enough, although there have been a couple of times I've needed something like this to avoid having to validate whether we only have a single item that passes

[2018-08-03 11:28] BrokeRU commented on #2451
Here is my solution for Map objects: https://gist.github.com/BrokeRU/5ece2a775b4c3f576425d5fb30b09736

[2018-08-09 04:42] aczone opened #2776 "_.template, how could I handle variables with whitespace"
i have a json with key having whitespace within it (e.g. key 1)
how could I pass the value to <%= key 1 %> without error?

[2018-08-10 08:10] jongwookyi opened #2777 "Add to API document for the return value of bindAll function."
For many versions lower than 1.9.0 bindAll function returned bound object.
Since the version 1.9.0 it has been changed not to return.
This change might break the codes that used return value of bindAll function.

Please add to API document for the return value of bindAll and hopefully other functions.
Thanks.

[2018-08-28 10:28] ashish-panchal opened #2778 "Playground to test helpers"
A playground will really help to test out helpers while implementing it in projects, which can also reduce the risk of missing out on corner cases. If it's already there can someone please provide the detail about it.

[2018-08-28 12:58] captbaritone commented on #2778
For a simple REPL you can open your browser dev tools while browsing https://underscorejs.org

For something more interactive, you could try: https://npm.runkit.com/underscore

[2018-08-28 12:58] #2778 closed

[2018-09-15 23:38] jacobhobson commented on #1905
This is a matter of implementation. You need to persist the event. onChange should call a persist and THEN pass the persisted event to the debounced handler:

`
onChange_persist = (e) =>
{
    e.persist();
    e.onChange_debounced(e);
}
`

[2018-09-21 08:50] simulency commented on #2773
https://stackoverflow.com/questions/24725560/javascript-why-need-to-delete-the-0-index-of-an-array

[2018-09-25 07:47] olivier-voutat commented on #2722
Was looking this for hours...

[2018-09-30 16:06] hooper-hc commented on #2773
thanks！

[2018-09-30 16:06] #2773 closed

[2018-10-03 01:16] ryandhaase commented on #2472
This seems to still be an issue - we encountered it after bumping our version from 1.8.3 t0 1.9.0

[2018-10-08 08:58] GajananMore opened #2780 "Documentation Site has very small font."
Hi,

Documentation is in small font, have to zoom in every time needs to see document. can you increase font?

Thanks,
Gajanan.

[2018-10-13 01:12] kmannislands commented on #310
If anyone comes along and wants updated/commented modern js version of the above:
[code]

[2018-11-03 15:27] githublyp opened #2788 "isEmpty"
_.isEmpty(11)
true
_.isEmpty(''+11)

false

[2018-11-07 15:58] harshitharao commented on #2457
@jdalton @edwardkerry https://github.com/jashkenas/underscore/pull/2789 is the fix PR. Can you check once

[2018-11-13 21:31] LuigiC commented on #2788
But I don't think this can be considered an issue, since ''+11 is equivalent to '11', and therefore not empty.

[2018-11-17 04:13] markjaquith commented on #310
@kmannislands Hey, your version doesn't reset `allArgs` inside `wrapper()`, so subsequent calls to `func()` get historical batches of args as well as the current batch.

Shouldn't it be:

[code]

[2018-11-19 15:04] seyfer commented on #162
Lodash has it - https://lodash.com/docs/4.17.5#cloneDeep

[2018-11-20 06:10] #2698 closed

[2018-11-22 00:25] swedebugia opened #2790 "Build or build+test dependencies"
Hi
I'm wondering how many of the 12 devdeps are strictly needed for building? How many are needed if we want to test it too?

We are trying in Guix to figure out how to package npm-libraries in a reproducible way.
See also: https://lists.gnu.org/archive/html/guix-devel/2018-11/msg00201.html

I'm using a guile-script to make a graph of this package and the devdependencies and all recursive dependen

[2018-11-22 00:58] captbaritone commented on #2790
Does this help?

[code]

[2018-11-22 16:52] swedebugia commented on #2790
Yes! Thanks to this we can reduce the dependencies drastically if we choose to leave out the tests.

[2018-11-22 16:52] #2790 closed

[2018-11-26 15:48] skynin commented on #2788
from doc
_.isEmpty(object) ... Returns true if an enumerable object  ... For strings and array-like objects _.isEmpty checks if the length property is 0.

11 is not object, and has no the length property
'11' is string and has the length property

[2018-11-27 12:45] kelstra commented on #2770
Lodash's trailing option defaults to true. So, if the leading option is also true, then the function is triggered on **both** the leading and trailing edges.

Underscore's immediate option triggers the function on the leading edge, **instead of** on the trailing edge. There is no option to trigger on both edges.

[2018-12-01 22:40] HZooly commented on #2780
@GajananMore Font size seems correct. I'm using Chrome 70 on macOS

[2018-12-09 18:07] skaarj1989 commented on #2776
`<%= obj["key 1"] %>` or `<%= obj[\"key 1\"] %>`

[2019-01-07 13:26] p0sera opened #2792 "isEqual does not work for FileList and File objects"
If the FileList is different, but the length is the same, it will always say that the two FileList objects are equal.
There is this line `var areArrays = className === '[object Array];'`, but the FileList is of type [object FileList].

Also the method Object.keys does not work on object File, which is in FileList. It always returns 0 keys. What works is this:
`var keys = [];
 for (var key in obj)

[2019-01-08 22:30] orezvani opened #2793 "Suggestion: Extending the function `_.partition` function beyond boolean predicate/classifier"
The existing partition function can divide the input collection into only two arrays. Why not extending the predicate/classification function to more than two sets?

I have done this in my clone of the project.

[2019-01-09 13:39] lucky06688 opened #2794 "_.escape test suit"
// handles multiple escape characters at once
    var joiner = ' other stuff ';
    var allEscaped = escapeCharacters.join(joiner);
    allEscaped += allEscaped;
    **assert.ok(_.every(escapeCharacters, function(escapeChar) {
      return allEscaped.indexOf(escapeChar) !== -1;
    }), 'handles multiple characters');**
    assert.ok(allEscaped.indexOf(joiner) >= 0, 'can escape multiple escape char

[2019-01-15 17:43] theblang commented on #2280
I think that  `== null` will trigger many peoples' linting, and checking for both `=== undefined` and `=== null` gets wordy. `_.isNil(value)` would be nice.

[2019-01-18 13:05] fbauzac opened #2795 "underscore/LICENSE is the Expat license"
Hello,

"MIT license" is imprecise, it can be the Expat license or the X11 license.
In the case of underscore, it is the Expat license https://directory.fsf.org/wiki/License:Expat .
Could you please fix the mentions about "MIT license" to the more correct "Expat license".

FYI the X11 license is a little bit different: https://directory.fsf.org/wiki/License:X11

Thanks!

[2019-01-25 19:27] david-mark opened #2797 "Logic attempting to reference the global object is overly complicated"
In the way this line is run, the - this - object *is* a reference to the global (referred to as "root" here) object, so the rest of this can be discarded. Found it odd that there was a fallback to a newly constructed Object object (what good would that do in this context?), which seemed to indicate a lack of confidence in the expression leading up to it. The comment doesn't match the logic either.

[2019-01-30 15:09] fbauzac commented on #2795
Perfect, thank you! :+1:

[2019-01-30 17:32] #2795 closed

[2019-01-30 17:38] jashkenas commented on #2797
David Mark! Good to hear from you!

People have used Underscore in all kinds of strange places — old browsers, Node.js, Narwhal, Adobe Illustrator, with AMD, UMD, various module systems, and so on...

That initial bit of code attempts to safely find the global namespace, whatever the JS environment might be, so that we can restore the previous definition of `_`, in the case that you later call `_.

[2019-01-30 17:38] #2797 closed

[2019-01-30 20:19] david-mark-cintas commented on #2797
Nothing strange about any of those places. And ISTM that it should just throw an exception if no global *object* is found (a scenario impossible in a standards-compliant ECMAScript implementation).\

Anyway, as mentioned, you need only:

var root = this;

...and I expect you previously had a 'use strict' directive in here, right? That's the only possible way that you could have been led down the p

[2019-01-30 20:24] david-mark commented on #2797
Nothing strange about any of those places. And ISTM that it should just throw an exception if no global object is found (a scenario impossible in a standards-compliant ECMAScript implementation).

Anyway, as mentioned, you need only:

var root = this;

...and I expect you previously had a 'use strict' directive in here, right? That's the only possible way that you could have been led down the path

[2019-01-30 20:42] david-mark commented on #2797
Also, why do you feel the need to "sniff for old browser globals"? As in host objects found only in old browsers? I don't have the stomach to read past the first line of this thing (certainly not in 2019), but that sure sounds like browser sniffing.

I assume this library has come and gone. Found it in a framework and experienced deja vu with that first line. React and other libraries do similar t

[2019-01-31 18:51] filips123 commented on #2680
@bjmiller I have the same problem. I am using [AEgir](https://www.npmjs.com/package/aegir) to build my project for the browser (with Webpack). This project is required by [Web3](https://github.com/ethereum/web3.js) and it causes the error. How can I fix this?

[2019-02-01 06:07] rookieLink opened #2799 "Bug about _.keys()?"
I read underscore's code about _.keys()
if I want to invoke the code in IE7, there will be:
`
function A (){}
A.prototype.toString = 'test';

var a = new A();
a.toString = 'test';
_.keys(a); //there should be [] rather than ['toString']?
`
right? I need some help

[2019-02-01 08:36] fbauzac commented on #2795
For the record, the term "MIT license" is misleading, since MIT has used many licenses for software:
https://www.gnu.org/licenses/license-list.html
https://en.wikipedia.org/wiki/MIT_License#Variants

[2019-03-18 11:09] RamyashreeRamesh opened #2800 "Getting error in underscore.js"
Uncaught type error: cannot read property 'value' of undefined

[2019-03-18 20:08] #2800 closed

[2019-03-21 15:34] yuchi commented on #841
Small note for posterity… from the future: it was later added in 0aa61926a109352cf16bbb40f93664b731a33e15

[2019-03-25 14:09] BridgeAR commented on #2698
This is still an issue.

[2019-03-31 04:43] chitgoks opened #2803 "sort positive numbers first then, negative"
is this possible using 1 inline code?

e.g.

1, 4, -8, 2, -1, 6

result

1, 2, 4, 6, -1, -8

- so positive sorting is ascending
- negative sorting is descending
- positive must be sorted first, then negative

[2019-04-09 19:53] mcurrao opened #2804 "Improve _.isEmpty documentation relating primitive types"
I know this has already been reported way too many times. And I know it because I've faced the issue myself and found the breadcrumbs, which have lead me here.

`_.isEmpty` behaviour by design only checks enumerable objects. Any primitive value is therefore, considered empty.
While changing this behaviour has already been discussed (and rejected) more than once, developers have been hitting agains

[2019-04-10 09:59] gsivaprabu commented on #2273
Try this one

[https://github.com/silvermine/undertemplate](https://github.com/silvermine/undertemplate)

[2019-04-25 15:42] AlisherAmonulloev commented on #2803
`_.partition([1, 4, -8, 2, -1, 6].sort(), (n) => { return n > 0 }).join()`
Is this "inline" enough?

[2019-04-26 04:03] chitgoks commented on #2803
looks good thank you

[2019-04-26 04:03] #2803 closed

[2019-05-09 14:43] eimf opened #2807 "contains doesn't behave properly"
**source**: https://jsonplaceholder.typicode.com/users

_correct output with_ https://lodash.com/docs/4.17.11#includes same **source**

[2019-05-29 13:46] naveenkumargc commented on #2722
Thank you. this works when you are working on react application also.

[2019-05-30 21:31] tfga opened #2809 "Shorthand for piping a value through a bunch of functions"
Let's say you want to pipe some value `a` through 3 functions `f1`, `f2`, `f3`, in that order. How would you do it?

Well, you can do it the "normal" way (pure JS):

[code]

Or you can use `_.compose()`:

[code]

But what I'd _really like_ to write is:

[code]

Both JS's function composition syntax and `_.compose()` make me write the function list in the reverse order. Clojure has [threading macro

[2019-06-03 10:03] Wangyi-max opened #2810 "Questions about _.indexOf()？"
_.indexOf([1,2,3,NaN,5,6],NaN,true)   // => -1

Source code
array[idx] === item ? idx : -1;

Can NaN detection be put in front?

[2019-06-10 18:28] lschneiderman opened #2811 "How do you display total number of records in a template?"
I'm having trouble getting any answers on underscore.js on stackoverflow, so I'm just going to ask here. How do you display the total number of records in a template? In this example, how would I display totalNum?

<script type="text/template" id='templatePropertyLot'>
    <%  _.each(items,function(item,key,list) { %>
        <div class="popup_wrapper">
            <div class="header" id="count_of

[2019-07-03 14:17] spattanaik75 commented on #2811
shouldn't it be

_.each(items,function(item,key,items) { %>
<%- items.length %> of addresses in this search
<% });

[2019-07-13 17:29] MichaelGatesDev opened #2812 "Chain sorting an array does not return an array (Typescript)"
This snippet worked for me until I added Typescript and updated the package

[code]
[Code here](https://github.com/MichaelGatesDev/ccss-support-manual/blob/master/packages/frontend/src/Sections/Home/Home.tsx#L86)

It takes an array of objects, sorts them, and returns the sorted array.

But now, it complains that this code does not return a `Room[]` or otherwise array of objects. Rather, it returns

[2019-07-15 14:15] MichaelGatesDev commented on #2812
It appears this issue is likely [also this issue](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/36510)

[2019-07-16 09:28] tfga commented on #2809
Somebody implemented this as a babel macro:

https://github.com/Andarist/pipeline.macro

[2019-07-31 06:45] PengFanIsBest commented on #2810
老师我来看你了，indexOf二分查找需要有序数组，里面混入了外星人（NaN），所以并不是有序数组。

[2019-08-02 06:34] Wangyi-max commented on #2810
Thank you

[2019-08-10 00:44] ridhwaans opened #2813 "where() function issue with searching json objects"
I have a json collection stored as `{"books": [{...}, ... ]}` in a file. `"books"` is a list of json objects where each is a book. For example:
[code]

I have a need to read the json using  `_.where`, specifically search every item in the collection for the `"identifier"` value of `"type": "ISBN_10"`.  Then return the full json object aka `{"items": [...]}`.
Suppose `req.params.id` is the `"identi

[2019-08-10 02:30] ridhwaans commented on #2813
works with `array.find()`  (thanks acemarke)

[2019-08-10 02:30] #2813 closed

[2019-08-28 15:44] lastmjs opened #2814 "Add an Ethereum address or name to package.json"
I would like to see an Ethereum name or address added to the ethereum field of the package.json file. This will allow consumers of the project to know a canonical address to send funds to. For example, I'm building an application that will allow developers to automatically donate ETH to all of their npm dependencies that have an Ethereum address in their package.json file.

Having an Ethereum addr

[2019-09-03 17:55] jashkenas commented on #2814
Not 'til the Twelfth of Never.

[2019-09-03 17:55] #2814 closed

[2019-09-25 23:02] ErvinRrahmani commented on #2722
thnx a lot

[2019-10-28 14:08] HelloAny commented on #2799
[code]

[code]
Here you can verify the function

[2019-12-10 16:16] allenbriggs commented on #2646
I agree with you @ghiculescu.  We are dealing with max/min value of a property in a list.  If there are no max/min values then return `null` or `undefined`.  The returned `Infinity` values are not useful and require more work to handle (in almost every case).  There is no reason to overly optimize the return value before we get it back..

[2019-12-12 03:56] towry commented on #359
`_.pickBy`

[2020-01-06 07:51] liulyu opened #2818 "Keys in IE < 9 that will be iterated by `for key in ...`"

[2020-01-06 19:49] #2818 closed

[2020-01-06 20:50] BridgeAR opened #2819 "Publishing a new release"
Is it possible to get a new release some time soon? I know there where no major changes but it would be keep CITGM working. See https://github.com/nodejs/node/pull/31167#issuecomment-571022478

[2020-01-06 21:28] jashkenas commented on #2819
Sure thing — I've pushed the latest master (with no actual code changes), and released it as 1.9.2.

[2020-01-06 21:28] #2819 closed

[2020-01-06 21:33] BridgeAR commented on #2819
Thanks a million!

[2020-01-17 03:01] sambavaro opened #2822 "Enhance _.difference to evaluate non-primitives"
I came across a need to compare two arrays A and B of objects, and produce an output array containing the objects belonging to A but not B. This use case is supported by _.difference, but only if the elements within the array are primitives.

[2020-01-17 11:58] lohfu commented on #2718
@jashkenas what do you think of @mjeanroy's suggestion? i would be happy to help...

[2020-01-17 17:42] jashkenas commented on #2718
Sure! I'd be happy to merge a PR that swaps to named exports for all of the Underscore functions, and also uses Rollup to publish a UMD version of the file.

[2020-01-17 17:45] jashkenas commented on #2822
Difference also works with objects, using JavaScript’s object equality semantics.

I'm not interested in adding deep object comparison/equality operators to core Underscore ... but I'm sure there are already lots of other libraries and plugins you can use that will do this.

[2020-01-17 17:45] #2822 closed

[2020-01-17 17:46] lohfu commented on #2718
@jashkenas very cool! do you want to keep the src in one single file or can functions be placed in individual files?

[2020-01-17 17:51] jashkenas commented on #2718
One single file, please.

If we can keep the diff as small and the result as clean as possible, that would help greatly. Ideally, just adding named exports to the functions where they are — with Underscore itself as the default export.

[2020-02-11 14:11] jehrenzweig commented on #406
@pspi Agreed.  Making `_.isNumber()` behave correctly in the semantic sense means I'll never actually use it.

[2020-02-11 14:21] jehrenzweig commented on #2325
Is there a living document somewhere that states what browsers are supported by Underscore?

[2020-02-21 04:52] cheersYou opened #2824 "_.isNaN() is different from isNaN()?"
version: underscore 1.9.2.
testing:
[code]
at the same time , i view the source code , found this:
[code]
this is a bug?

[2020-02-21 05:21] cheersYou commented on #2824
if the given value 'NaN' , its true , others false.

[2020-02-21 05:21] #2824 closed

[2020-02-22 01:35] jgonggrijp commented on #2718
@lohfu @mjeanroy has either of you worked on this in the meanwhile? Otherwise I'm offering to adopt this.

[2020-02-22 16:53] lohfu commented on #2718
@jgonggrijp unfortunately i have found no time to focus on this, so you are more than welcome to give it a go. if i find time in the near future to help out i will ping you and see how it is going. good luck, have fun!

[2020-02-27 16:17] jgonggrijp commented on #2812
This is certainly an issue with `@types/underscore` rather than with underscore itself.

[2020-02-28 11:09] lohriialo opened #2827 "Version 1.9.2 no longer works with ExtendScript .jsx"
[code]

**Error** : _ is undefined

Now try version **1.8.3** it works like a charm

[2020-02-28 16:02] jgonggrijp commented on #2827
Looking at the [big diff](https://github.com/jashkenas/underscore/compare/1.8.3...1.9.2), it might or might not have something to do with the `component.json` having been deleted. Which, by the way, is not mentioned in the changelog. @lohriialo what package management system does ExtendScript use?

Looking up ExtendScript on wikipedia, I find that it is based on ES3. This hints at another possible

[2020-02-28 17:16] jashkenas commented on #2827
Yes, @lohriialo — if you don't mind taking a look, and seeing what we need to tweak to regain ExtendScript support ... I'd be happy to put it back in.

(At least until a future version perhaps becomes ES Modules)

[2020-03-02 12:48] lohriialo commented on #2827
If it makes any easier, break started with 1.9.0

[2020-03-02 15:29] jgonggrijp commented on #2827
@lohriialo Please make a local clone of underscore 1.9.2 and try whether you can make it work again by editing the source code yourself. @jashkenas said he would be happy to put the fix in underscore, but I think he meant he needs you to find the fix.

[2020-03-13 00:55] jgonggrijp commented on #2827
@lohriialo Could you please download both of the following (old) versions of underscore.js, and tell me for each of them whether it works with ExtendScript or not:

[Version A](https://raw.githubusercontent.com/jashkenas/underscore/4f2474cca9818a0bfd0d8190042a84dfcce25485/underscore.js)

[Version B](https://raw.githubusercontent.com/jashkenas/underscore/68bb747a1349b215752fdf8b1b2ad1667f1f8a0d/und

[2020-03-13 06:38] lohriialo commented on #2827
@jgonggrijp thanks for looking into it, I'll test and update back

[2020-03-13 06:41] lohriialo commented on #2827
Btw, ExtendScript installer is available here https://github.com/Adobe-CEP/CEP-Resources/tree/master/ExtendScript-Toolkit

- Install and run above test script

[2020-03-13 07:33] lohriialo commented on #2827
@jgonggrijp Version A works but not B

[2020-03-13 13:08] jgonggrijp commented on #2827
@lohriialo Thanks, that is the result I hoped for. How about the one below?

[Version C](https://raw.githubusercontent.com/jgonggrijp/underscore/6ed96cf05c224d67a67707535ed5f1e99af75dc8/underscore.js)

Thanks. I don't really mind doing that, but I would be an absolute beginner and I wouldn't fully trust the results I obtained while not knowing exactly what I'm doing. If we can arrive at a working

[2020-03-16 07:51] lohriialo commented on #2827
@jgonggrijp sure, I'm happy to help test

[Version C](https://raw.githubusercontent.com/jgonggrijp/underscore/6ed96cf05c224d67a67707535ed5f1e99af75dc8/underscore.js) doesn't work either

[2020-03-16 10:41] jgonggrijp commented on #2827
That's a shame, I really hoped that would work. But I won't give up yet.

[2020-03-16 12:29] jgonggrijp commented on #2827
@lohriialo I did some more research and arrived at three more versions, which are mostly experimental means to figure out what is needed. Could you please test these as well?

[Version D](https://raw.githubusercontent.com/jgonggrijp/underscore/es3-this-fix-semicolon/underscore.js)

[Version E](https://raw.githubusercontent.com/jgonggrijp/underscore/jsx-conflicting-names/underscore.js)

[Version F]

[2020-03-16 12:52] lohriialo commented on #2827
@jgonggrijp All version works(D, E, F) and below is the output without underscorejs
[code]

[2020-03-16 13:53] jgonggrijp commented on #2827
@lohriialo Great. D is my preferred solution, I submitted a pull request for it (referenced right above this comment).

Interestingly, the only difference between C and D is a semicolon:

[code]

I find the `this` and `global` outputs from the test script rather surprising, but fortunately we have a solution now.

[2020-03-17 12:49] lohriialo commented on #2827
@jgonggrijp Thanks for all your help looking into this!

[2020-03-26 17:14] gogo765795 commented on #2718
Duplicate of #

[2020-03-28 15:45] MaxBarraclough opened #2833 "Documentation of _.before is misleading (off-by-one)"
Regarding the documentation of the `_.before` function:

At https://underscorejs.org/#before the documentation says:

On the other hand the in-source comment [states](https://github.com/jashkenas/underscore/blob/ca7d3f5cd27de32c1ed78581458e3dff485e48df/underscore.js#L956):

It seems the documentation is off-by-one, as it does not make clear the *but not including* behaviour. Also, it is misleading

[2020-03-28 18:46] #2827 closed

[2020-03-28 22:49] jgonggrijp commented on #2833
This is not a difference. It's just zero-based counting. `_.before(2, func)` will call `func` two times, the 0th time and the 1st time. So up to, but not including, the 2nd time. The source comment probably describes it in zero-based terms because the source itself is zero-based.

[2020-03-30 20:39] lfreneda opened #2835 "Version 1.10.0 breaking change?"
Hello there.

Just updated to latest release (1.10.0) and all my applications using: `var _ = require("underscore")._` are getting _ as `undefined`

Anyone facing the same issue?

[2020-03-30 20:40] haggholm opened #2836 "Altered export format/API in semver minor breaks community packages"
I encountered some very weird bugs today in a third-party package (`natural`) with errors like `TypeError: Cannot read property 'without' of undefined`. This turns out to be because it imports `underscore` like this:

[code]

It appears that the latest version exports the whole shebang as a default export, not as a named value on the exports. That’s probably fine…except for any packages that do th

[2020-03-30 20:42] lfreneda commented on #2836
Same there, seems like _ is being exported as `undefined`: https://github.com/jashkenas/underscore/issues/2835

[2020-03-30 20:48] jashkenas commented on #2836
Pinging @jgonggrijp — it looks like we'll need a 1.10.2 patch follow-up.

[2020-03-30 20:51] lfreneda commented on #2836
@jashkenas please ASAP <3 Thanks

[2020-03-30 20:52] #2835 closed

[2020-03-30 21:01] jashkenas commented on #2836
Specifically, I think that it was the removal of the old shim code for the previous Node API that caused the problem, here: https://github.com/jashkenas/underscore/compare/1.9.2...1.10.0#diff-0f36b362a0b81d6f4d4bfd8a7413c75dL45-L60

... @jgonggrijp — do you think there would be a problem with adding something like that back in?

[2020-03-30 21:16] jgonggrijp commented on #2836
This is definitely an oversight, sorry about that.

@jashkenas your link doesn't seem to work so I can't see what you mean. Perhaps something like this in the `index-default`?

[code]

[2020-03-30 21:25] jashkenas commented on #2836
This is exactly what I was doing! Super.

[2020-03-30 21:31] jashkenas commented on #2836
This should be fixed now in 1.10.2, which I've pushed up to NPM. Please give that a try, and let me know if everything is back to normal. Apologies for the screwup.

[2020-03-30 21:43] lfreneda commented on #2836
@jashkenas u r GOD! :angel: Thanks!

[2020-03-30 22:18] jashkenas commented on #2836
Great. In that case, fixed in https://github.com/jashkenas/underscore/commit/2a932470303157072015d5ab7f26d40b9deb4634.

[2020-03-30 22:18] #2836 closed

[2020-04-07 13:00] matteocacciola opened #2838 "Error when compiling VueJs application with Webpack and UglifyJs 1.10.2"
hello, I am building my VueJs based app with webpack. It uses underscorejs too
I am experiencing this error

![2020-04-07-145446_1920x1080_scrot](https://user-images.githubusercontent.com/28953594/78672083-73430180-78e0-11ea-9187-4063c0f9f4df.png)

can someone help me, please?
underscorejs version is 1.10.2

[2020-04-07 16:12] jgonggrijp commented on #2838
It's impossible to tell from just the screenshot. `"chunk" is read-only` seems to suggest that something is trying to overwrite the `chunk` function.

I'm willing to take a look. Could you share your code, or otherwise create a reduced testcase and share that?

[2020-04-07 19:15] jgonggrijp commented on #2833
@MaxBarraclough I think it is possible to interpret the documentation in a way that aligns with the actual behaviour. That said, I agree it can also be interpreted in an off-by-one way.

Would you mind submitting a concrete suggestion for a fix, preferably in the form of a pull request?

[2020-04-07 19:17] jgonggrijp commented on #2812
Closing. Please feel free to comment or reopen.

[2020-04-07 19:17] #2812 closed

[2020-04-07 19:37] jgonggrijp commented on #2811
For future reference, if your `items` looks like this:

[code]

Then you can render something for each `item` and then display the total number of them at the end like this:

[code]

If you want to tally during iteration to show something like “item 5 of 10”, this will work:

[code]

@lschneiderman @spattanaik75

[2020-04-07 19:37] #2811 closed

[2020-04-07 19:40] jgonggrijp commented on #2810
I'm closing this because it seems the issue is resolved. If it isn't, please feel free to reopen or comment.

[2020-04-07 19:40] #2810 closed

[2020-04-07 19:54] jgonggrijp commented on #2809
@tfga You can easily implement this yourself and then add it to Underscore if you want:

[code]

Or with ES6 syntax:

[code]

[2020-04-07 19:56] jgonggrijp commented on #2807
@eimf Could you please show the code that invokes `_.contains`?

[2020-04-07 20:04] jgonggrijp commented on #2788
Seems to be resolved.

[2020-04-07 20:04] #2788 closed

[2020-04-07 20:06] jgonggrijp commented on #2804
@mcurrao Could you explain what is so surprising to you about the behaviour? Personally, I'd be very surprised if `_.isEmpty(42)` returned `false`.

[2020-04-07 20:19] jgonggrijp commented on #2799
@rookieLink If you do just this,

[code]

Then `a.toString` is only an inherited property of `a` and `_.keys(a)` will be `[]`. The internal structure of `a` looks like this (`[[Prototype]]` is an abstract property of each object that you cannot access directly):

[code]

If you now also do this:

[code]

Then you create an *extra* own property on `a` that *shadows* the `toString` property of the p

[2020-04-07 20:19] #2799 closed

[2020-04-07 20:34] jgonggrijp commented on #2794
@lucky06688 Thanks for reporting. It appears indeed that `allEscaped` is never used to actually test the behaviour of `_.escape` and `_.unescape`. This is still an issue on master:

https://github.com/jashkenas/underscore/blob/2a932470303157072015d5ab7f26d40b9deb4634/test/utility.js#L162-L169

It appears this has always been the case since these lines were first added in 9c1c3ea4fcafe82d546e190c5f

[2020-04-07 21:07] #2794 closed

[2020-04-07 21:10] jgonggrijp commented on #2718
Closed in #2826.

[2020-04-07 21:10] #2718 closed

[2020-04-08 02:28] tfga commented on #2809
@jgonggrijp But then I'd have to duplicate this code in every project. To prevent that, isn't it the point of libraries like underscore?

[2020-04-08 08:16] jgonggrijp commented on #2809
No, you don't have to copy it in every project. You can make your own NPM package that imports Underscore, adds your desired functions to it with `_.mixin`, and then exports the result as a "super Underscore". If you use that package everywhere instead of Underscore itself, no code gets duplicated and you get all original functions of Underscore unmodified as well as your own additions. Win-win!

[2020-04-09 13:55] tfga commented on #2809
@jgonggrijp Ok. Thanks for the replies.

[2020-04-09 17:10] jgonggrijp commented on #2809
@tfga I guess I should have started by mentioning why I think this doesn't belong in Underscore. Sorry for not doing that.

I see the added value of `_.pipe`. It also combines well with chaining:

[code]

But the problem is, there is an infinite space of functions that are not in Underscore but that would have an added value. We can't add all of them. In fact, we have to be conservative because Un

[2020-04-09 20:22] TharaCJ opened #2839 "Getting error while generating looper build with underscore"
In the code we are setting templateSettings object of underscore as shown below

_._templateSettings = {
        interpolate: /\{\{(.+?)\}\}/g
    };
Upon doing a local build and launching the application, it works fine.But when the build is generated using looper and deployed to any environment, the application is not launching and in console we see the error - Cannot set property of #<Object> wh

[2020-04-09 22:15] jgonggrijp commented on #2839
I don't know looper so I'm guessing a bit. It seems like your build tool is freezing the Underscore exports. If you are doing this:

[code]

you can try replacing it by this:

[code]

Otherwise, please give us a bit more information about your build process and the way in which you import Underscore.

[2020-04-10 00:59] TharaCJ commented on #2839
Yes , Looper is the build tool.
The application is in angular1.x so this is how we are adding the dependency

define(['underscore', 'jquery'], function(_, $){
    'use strict';

    _.templateSettings = {
        interpolate: /\{\{(.+?)\}\}/g
    };

[2020-04-10 08:27] mcurrao commented on #2804
@jgonggrijp When using variables, the concept of emptiness on a primitive-containing variable would seem to indicate the variable content not being set/filled.

Therefore:

[code]

For arrays and objects, emptyness considering content makes sense. I understand that the concept of emptyness does not apply to numbers, for example. That is why my request was not to modify its behaviour including prim

[2020-04-10 08:40] mcurrao commented on #2804
Moreover, strings _are_ properly considered. I'm aware that this is due strings containing a `length` property. But this seems to contribute to the confusion, as `'42'` is not considered empty, but `42` is, both being primitives, not objects nor arrays.
As form values are serialized as either number or strings depending the used framework and the input type, `_.isEmpty` loses reliance as a form fi

[2020-04-10 09:21] tfga commented on #2809
@jgonggrijp No worries. Thank you for taking the time to explain this. I appreciate it.

[2020-04-10 10:01] jgonggrijp commented on #2839
I tried searching the web but I don't think I have found the right Looper yet. Could you give me a link to its homepage? And also show your command line that invokes Looper in order to build?

[2020-04-10 10:21] jgonggrijp commented on #2804
So if I may rephrase this, `_.isEmpty` is meant to check whether the number of elements of a collection is nonzero (where a string is considered a collection of characters), but the name tempts people into using it on values produced from some kind of external source (such as a form field) to validate whether that source has anything nontrivial to offer.

Looking again at the documentation, I stil

[2020-04-13 15:51] MaxBarraclough commented on #2833
Sure here are some ideas:

### Suggestion 1

Returns a wrapper function over **function** such that the result of the (count-1)'th call is memoized, and returned immediately by all subsequent calls.

**count** is 1-based, such that if **count** = 2, **function** will be called at most once.

Exception handling:

* If a call prior to the (count-1)'th call of **function** throws an exception, the wr

[2020-04-13 16:33] jgonggrijp commented on #2833
How about this:

A function that throws doesn't have a return value, so I don't think this needs separate mentioning.

For completeness, perhaps also a slight rewording of `_.after`:

[2020-04-14 23:09] jgonggrijp commented on #2804
Was closed in #2840.

[2020-04-14 23:09] #2804 closed

[2020-04-14 23:13] jgonggrijp commented on #2793
@orezvani Does [`_.groupBy`](https://underscorejs.org/#groupBy) perhaps do what you're looking for?

[2020-04-16 23:45] nevf commented on #310
@markjaquith +1

Also ```func( args )``` differs from the original version that uses ```func.apply(context, args);```.
For the former, ```args``` is used as is in the the target ```func()```, whereas in the later _(original code)_ you need to use either ```arguments``` in a normal function or ```( ...args )``` in an es6 fat arrow function.

[2020-04-19 00:59] jgonggrijp commented on #2792
This is expected. Most Underscore functions expect only primitive values (plus their object wrappers), plain objects and plain arrays. We *might* extend this to also include `Map` and `Set` in some future update, but that's about as far as we will take it. `_.isEqual` already pushes this a bit by checking whether objects have the same constructor. Detecting and supporting each possible type of obj

[2020-04-19 00:59] #2792 closed

[2020-04-20 23:56] jgonggrijp commented on #2780
@GajananMore Sorry to hear that you found the documentation difficult to read. Do you still have this problem?

If you still have this problem, please tell us some details about your operating system, hardware and browser version. Perhaps also show us a screenshot. Thanks in advance.

[2020-04-21 00:23] jgonggrijp commented on #2776
I think the answer by @skaarj1989 is correct.

[2020-04-21 00:23] #2776 closed

[2020-04-21 01:12] jgonggrijp commented on #2770
The explanation by @kelstra is correct.

[2020-04-21 01:12] #2770 closed

[2020-04-21 01:13] jgonggrijp commented on #2457
Closing for the same reason as #2789.

[2020-04-21 01:13] #2457 closed

[2020-04-21 19:45] mhkeller commented on #2557
Is this still something planned?

[2020-04-21 23:07] jgonggrijp commented on #2557
@mhkeller This is already implemented. See #2826, which was released with version 1.10.

Thanks for making me aware of this ticket, closing now.

[2020-04-21 23:07] #2557 closed

[2020-04-21 23:15] mhkeller commented on #2557
Ah so cool! Thanks @jgonggrijp!

[2020-04-21 23:37] jgonggrijp commented on #1992
Closing because of #2830.

[2020-04-21 23:37] #1992 closed

[2020-04-21 23:56] jgonggrijp commented on #2147
See also discussion in #2808.

[2020-04-21 23:56] jgonggrijp commented on #2451
Special case of #2147.

[2020-04-21 23:56] #2451 closed

[2020-04-21 23:57] jgonggrijp commented on #2517
Special case of #2147.

[2020-04-21 23:57] #2517 closed

[2020-04-22 00:07] jgonggrijp commented on #2627
Duplicate of #2147.

[2020-04-22 00:07] #2627 closed

[2020-04-22 00:18] jgonggrijp commented on #2497
Duplicate of #1862.

[2020-04-22 00:18] #2497 closed

[2020-04-24 12:19] jgonggrijp commented on #2472
This behaviour is still present in 1.10.2.

A slightly more convincing contrast in my option, since both involve modifying a value in place:

[code]

I somewhat agree this is inconsistent.

It is worth considering in what kind of real-world situation this would be most likely encountered and what to expect of the wrapped object in such cases.

In the *middle* of a chain, the wrapped object is pred

[2020-04-28 06:45] viliush commented on #257
lisencijos$

[2020-04-28 17:17] jashkenas commented on #2472
@jgonggrijp — Can you elaborate in a sentence with the behavior that you want to implement with the null check?

Is it that array methods will explicitly throw an exception when called on a nullish value? Or that they will noop when called on a nullish value?

[2020-04-29 01:11] BruceRBowers opened #2842 "Need license or reference in distributed javascript files"
The project has a license that requires us to provide a copy of the file when we distribute the code, but the absence of a copy of the license _in the code itself_ complicates Oracle's ability to comply anytime we send it to a user's browser.  Please embed the license (or a reference to it) directly in the distributed JavaScript files.

[2020-04-29 01:20] jgonggrijp commented on #2472
@jashkenas Yes. The behavior I would implement is a no-op, following the style of the Underscore array functions:

https://github.com/jashkenas/underscore/blob/4cf715f593805ba8d7c5685cd06c82b3cd9b55ae/modules/index.js#L495

Except that the `length` check wouldn't be required, so I would just insert

[code]

between these two lines:

https://github.com/jashkenas/underscore/blob/4cf715f593805ba8d7c5

[2020-04-29 01:27] jgonggrijp commented on #2842
@BruceRBowers Thanks for reaching out. Please be very specific: in which file(s) do you need the reference and why is this bit not enough?

https://github.com/jashkenas/underscore/blob/4cf715f593805ba8d7c5685cd06c82b3cd9b55ae/underscore.js#L12-L15

Note, previous issues about the license: https://github.com/jashkenas/underscore/issues?q=license

[2020-04-29 16:56] jashkenas commented on #2472
Sounds fine to me!

[2020-04-29 20:06] BruceRBowers commented on #2842
@jgonggrijp, thanks for your response.

The specific files are underscore/underscore.js and underscore/underscore-min.js.

The MIT License (and your license) states: "The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software." The problem is that if the JavaScript file just says "MIT" in the comment header, then we are unable to c

[2020-04-29 22:00] jgonggrijp commented on #2842
@BruceRBowers If you are just sending the UMD bundle to browsers, why do you go the extra mile to distribute it yourself in the first place? You can have your users download it from a CDN instead, to which the copyright holder published it by himself (i.e., jsDelivr or unpkg, via NPM). This saves you bandwidth and is faster for your users, so it's win-win.

When you choose to distribute a part of

[2020-04-29 23:44] jgonggrijp commented on #2774
@AaronNGray I'm closing this because I don't see any problem with the `npm run test-node` script in Underscore. If you feel that this is still an issue in Underscore, please reopen and clarify.

[2020-04-29 23:44] #2774 closed

[2020-04-29 23:54] jgonggrijp commented on #2777
@jongwookyi Thanks for reporting and sorry for the slow response.

This was almost certainly an unintended breaking change caused by https://github.com/jashkenas/underscore/commit/3cd04870adff10304da1a5cbd19c9aa310f1ee2c.

[2020-04-30 00:05] #2777 closed

[2020-04-30 04:22] BruceRBowers commented on #2842
Delivery through a CDN still fails to comply with the license. Doesn't matter if the author put it on the CDN. The license is quite clear in the obligations.

If it is the author's intent not to include a copy of the license, an explicit statement to the effect that they are declining to do this, publicly stated in this issue, will suffice for us to show that we took all reasonable efforts to comp

[2020-04-30 04:31] jashkenas commented on #2842
It is the author’s intent to not include a copy of the MIT license in the network-distributed source code. Go for it!

[2020-04-30 04:31] #2842 closed

[2020-04-30 22:36] #2472 closed

[2020-04-30 22:54] jgonggrijp commented on #2775
Closing in line with #2791. For future reference, this is how you can add `_.single` to your own instance of Underscore:

[code]

Suggestions like these can also be submitted to [underscore-contrib](https://github.com/documentcloud/underscore-contrib). It has been unmaintained for a while, but I'm looking into a solution for that. If you submit a pull request over there, it might not be merged but

[2020-04-30 22:54] #2775 closed

[2020-04-30 23:01] jgonggrijp commented on #2772
@Priya08Nirmal Thanks for reaching out.

There is no way to un-bind a bound function. This is inherent to JavaScript. You can however keep a reference to the unbound function in case you need it later. How to do this depends on the specifics of your code.

I'm closing this because it isn't really an issue with Underscore. But if you want, you can still comment after the issue is closed and I'll se

[2020-04-30 23:01] #2772 closed

[2020-04-30 23:15] jgonggrijp commented on #2771
This can be implemented in less code, and added to Underscore with chaining support, as follows:

[code]

Since it's quite obscure, I think this belongs in [underscore-contrib](https://github.com/documentcloud/underscore-contrib) instead. It has been unmaintained for a while, but I'm looking into a solution for that. If you submit a pull request over there, it might not be merged but it will be no

[2020-05-01 16:50] jgonggrijp commented on #2762
@carpben Friendly reminder that you are still welcome to submit a pull request and get the credit.

[2020-05-04 06:05] #2692 closed

[2020-05-04 09:42] bnjmnt4n commented on #2780
This is probably related to the website being not very mobile-friendly.

[2020-05-06 01:01] jgonggrijp commented on #2740
@jashkenas Travis doesn't seem to work at all today. Did you disable it altogether or did it break somehow? How about the saucelabs tests?

[2020-05-06 01:08] jgonggrijp opened #2846 "Add a note about JS comparison operators"
I would like to close all three of these tickets, because I believe they are based on a misunderstanding of the `<` operator, and I'd like to address this with a note in the documentation instead:

- #1768
- #1834
- #2042

The note would be somewhere at the bottom of the page, with a link to the MDN entry on the comparison operators. Reference entries on functions like `_.sortBy` and `_.sortedInde

[2020-05-06 03:50] jashkenas commented on #2846
I agree! I don’t think that sorting `NaN` or `undefined` are an important problem to "fix" — you should *never* be sorting them.

[2020-05-06 03:51] jashkenas commented on #2740
I’m afraid I don’t remember. The Travis and Saucelabs tests were external contributions.

If we’re going to bring back a simple CI, both getting off of QUnit, and using GitHub Actions, seem like the right way to go.

[2020-05-06 11:11] jgonggrijp commented on #2740
By "getting off of QUnit", do you mean replacing QUnit by another test framework such as Jasmine? I like Jasmine, but on the other hand, I don't really think there is anything wrong with QUnit except for it being perhaps a bit less declarative.

Do you agree that we can treat (1) re-enabling CI and (2) moving to a different test framework as separate and independent issues? I think that (1) is sor

[2020-05-06 15:15] jashkenas commented on #2740
Definitely.

My reflexive and uninformed impression was that QUnit was an ancient beast, used in the old days to test jQuery, but not widely used anymore. If it’s still solid, and it isn’t hard to get it working with CI, then I have absolutely no problem with keeping it.

[2020-05-06 16:33] jgonggrijp opened #2847 "Fix the Travis build"
Preferably using GitHub Actions. See discussion in #2740.

[2020-05-06 16:51] jgonggrijp commented on #2740
QUnit appears to be actively used and actively maintained.

On an unrelated note, I'm closing this one as it is a bit outdated.

[2020-05-06 16:51] #2740 closed

[2020-05-07 12:32] demetris-manikas commented on #2839
Hi. I am getting exactly the same error when using webpack-dev-server.
No messages or error when I deploy normally.
Are you familiar with webpack-dev-server or should I prepare a showcase project?

[2020-05-07 13:12] jgonggrijp commented on #2839
I know it a little but I'd appreciate a showcase project very much!

One disclaimer in advance: the webpack dev server has a really exotic way of bundling the code. Among other things, it breaks sourcemaps in Safari. I'll try my best, though.

[2020-05-07 14:33] demetris-manikas commented on #2839
I will either come up with a showcase or a PR very soon.

[2020-05-07 16:11] demetris-manikas commented on #2839
Well... I tried my best and I came up to the conclusion that this is maybe unsolvable the way me and @TharaCJ expected it to work.
BUT!
I have good news since I came up with a workaround that is not ugly at all!
Try  `_.templateSettings.interpolate =  /\{\{(.+?)\}\}/g;`
It worked for my case.  Tell us if it worked for you as well;
@jgonggrijp I am fine with this solution so I wont pursue this any

[2020-05-07 18:02] TharaCJ commented on #2839
In my case the reference to underscore library was not properly added by
Looper job and I got it working. after I added the reference in the webpack
config file

On Thu, May 7, 2020 at 9:11 AM Demetris Manikas <notifications@github.com>
wrote:

[2020-05-07 21:26] jgonggrijp commented on #2839
Great to hear that the problem is solved for both of you! Closing then, but please feel welcome to comment again.

[2020-05-07 21:26] #2839 closed

[2020-05-07 21:56] #1768 closed

[2020-05-07 21:56] #1834 closed

[2020-05-07 21:56] #2846 closed

[2020-05-07 22:18] jgonggrijp commented on #1879
Closing for the reasons discussed in #1880 and #2846.

[2020-05-07 22:18] #1879 closed

[2020-05-07 22:24] jgonggrijp commented on #2501
`_.sortBy` is for when you can reduce your values to a single string or number so that you can meaningfully apply the `<` operator. If you need to do something more fancy, pass your own custom comparator function to [`Array.prototype.sort`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort) instead. Note that this function is also available in Underscore O

[2020-05-07 22:24] #2501 closed

[2020-05-07 22:38] jgonggrijp commented on #2838
Closing this as 30 days passed without a response. @matteocacciola please feel free to reopen or comment if you want to take up on this again.

[2020-05-07 22:38] #2838 closed

[2020-05-07 22:39] jgonggrijp commented on #2807
Closing this for lack of response. @eimf Please feel free to reopen or comment if you want to take up on this again.

[2020-05-07 22:39] #2807 closed

[2020-05-08 22:26] jgonggrijp commented on #2423
This wouldn't add any expressive power to Underscore. You can just do `_.chain(arrays).unzip().map(iteratee).value()`. You can also wrap that expression in a new function, call it `zipWith` and add it to the Underscore object with `_.mixin`. You can then even chain it.

Granted, a function that combines both steps into one and that avoids the intermediate array would offer a performance advantage.

[2020-05-08 22:26] #2423 closed

[2020-05-08 23:28] jgonggrijp commented on #2688
I would like to fix this by generalizing `min` and `max` so they also work for strings and they return `undefined` for empty collections. Below is just a draft to illustrate the principle, as a proper implementation should invoke the `iteratee` only once for each element and it should also pass the key and the collection when doing that:

[code]

This would be a breaking change.

[2020-05-08 23:41] jgonggrijp commented on #2308
Nobody seems to have been bitten by this since 2017 and it is pretty certain that IE9 and IE10 will only become less relevant in the future. Closing this for now, but if somebody is actually suffering from this, please do raise your hand.

@akashvthakur I suspect you meant this:

[code]

Please don't attach such a question to some random existing issue but open your own issue instead. Or better ye

[2020-05-08 23:41] #2308 closed

[2020-05-09 18:51] jgonggrijp commented on #2455
Personally, I think this is the kind of thing that would be more suited for an extension library like Underscore-Contrib.

[2020-05-09 21:09] jgonggrijp commented on #1862
Maybe depends on #2453.

[2020-05-09 21:53] jgonggrijp commented on #2448
Will only make sense if combined with #2147.

[2020-05-09 21:58] jgonggrijp commented on #2447
Should only be implemented if #2147 is implemented, too. In addition, I disagree with the above code example as it would be possible to iterate the wrapper only once, despite the fact that the underlying values are not really consumed.

[2020-05-09 22:29] jgonggrijp commented on #1841
Closing because this is very outdated and lists of issues are more conveniently managed with a milestone.

[2020-05-09 22:29] #1841 closed

[2020-05-09 22:35] jgonggrijp commented on #2300
If you want to avoid copying the array you can also use `_.each`:

[code]

I don't think this use case warrants a whole new function.

[2020-05-09 22:35] #2300 closed

[2020-05-09 22:42] jgonggrijp commented on #1865
I suggest adding this only to the functions for which a simple `guard` is sufficient. That helper looks like a pessimization as well as a potentially serious breaking change.

[2020-05-09 22:47] jgonggrijp commented on #2318
Closing for lack of popular demand. This might be a nice addition to an extension library like Underscore-Contrib instead.

[2020-05-09 22:47] #2318 closed

[2020-05-09 23:53] #2037 closed

[2020-05-10 00:14] jgonggrijp commented on #2085
This may or may not become interesting again after #2847.

[2020-05-10 00:18] jgonggrijp commented on #2209
Lodash has continued to be a moving target in this regard. Closing.

[2020-05-10 00:18] #2209 closed

[2020-05-10 00:25] jgonggrijp commented on #2206
`_.isElement` is tested, just not in Node where coverage testing with nyc is easiest. `_.noConflict` is not part of our source code anymore as of #2826.

[2020-05-10 00:25] #2206 closed

[2020-05-10 00:28] jgonggrijp commented on #2115
This was adressed in #2232.

[2020-05-10 00:28] #2115 closed

[2020-05-10 00:30] jgonggrijp commented on #2101
Appears to have been adressed.

[2020-05-10 00:30] #2101 closed

[2020-05-10 18:23] sktguha opened #2850 "Add _.toggle to underscore"
Hi,
I want to propose to add a new function called toggle to underscore.
At simple level it would toggle the value given to it. i.e if it is passed true it will return false and if it is passed false it will return true.
ex-
flag = _.toggle(flag)
// if flag was true then it will get set to false

Also additionally we can have another function that  if passed custom arguments then it will return a

[2020-05-10 22:03] jgonggrijp commented on #2850
@sktguha Thanks for reaching out.

The `toggle` function you describe is just `_.negate(_.identity)`. So you can do this:

[code]

Regarding `getTogglingfunction`, please give a real-world example where such a function would be useful.

[2020-05-11 06:26] sktguha commented on #2850
Ok thanks for the explanation regd toggle. I guess then it is already available.
Well regd getToggling function, it can be useful when you need to toggle between custom values ,
for ex - 'block' and 'none'
toggle = getTogglingfunction ('block','none')
elem.style.display = toggle(elem.style.display)

[2020-05-11 11:44] jgonggrijp commented on #2850
Thanks. Yes, I can see the practical value in that and I think there is no function yet in Underscore that makes this easy.

To make it as general as possible, I would suggest that this function accepts arbitrary mappings rather than only pairs of alternative values:

[code]

`getTogglingfunction('block', 'none')` could then be a convenience shorthand for `getTogglingfunction({block: 'none', none:

[2020-05-14 14:51] serut opened #2851 "Version 1.10.2 breaking change with require.js"
Hello,

**Description:**
I still have an issue with the change made for 1.10.2
We try to import it with require.js and `_` is undefined (from `_.noConflict()`).
The same codebase was working 7 weeks ago

**Failling code:**
[code]

**Workaround:**
I pinned underscore to 1.9.2 to make it work again.

**1min reproduce:**

[code]
Now you can open the file `Mizar/examples/test.html` in your browser
![s

[2020-05-14 17:57] jgonggrijp commented on #2851
@serut I think your setup will work with 1.10.2 if you remove the shim config. Would you mind trying that?

[2020-05-14 18:10] jashkenas commented on #2851
Even if it works without the shim config, it still sounds like a breaking change that we should fix, no?

[2020-05-14 18:22] jgonggrijp commented on #2851
It is a breaking change, but in this case, I don't think it should be fixed. The change is that `_.noConflict` is absent in AMD environments, but you don't need it anymore in AMD environments because the `_` object isn't assigned to `global._` anymore in AMD environments, either. Which, yes, is a breaking change as well. Both of these changes are consequences of leaving the UMD wrapper to Rollup.

[2020-05-14 20:21] MaxBarraclough commented on #2833
Excuse my slow reply. That fixes the ambiguity nicely 👍 but:

I strongly disagree here. For the documentation to be complete, it must describe the function's handling of exceptions. An alternative behaviour would be for the wrapper function to throw that exception again on subsequent invocations.

Similarly the documentation for the *after* function should be explicit that before the threshold is

[2020-05-14 21:02] jgonggrijp commented on #2833
In that case, I'm afraid all of the Underscore documentation is incomplete. Would you prefer it to be twice as long? ;-)

To me, that sounds like a really bad idea that nobody would expect.

"Does nothing" already says that.

How about this: I'll prepare a pull request with the text that I last suggested, but I'll change "result" into "return value" so it's unambiguous that we're not talking about

[2020-05-14 21:31] jgonggrijp commented on #2851
I should add to this that AMD has been supported in Underscore since version 1.6 (2014). So `_.noConflict` and shim configs have been unnecessary for Underscore in AMD environments since that time. For this reason, I don't think many people will miss it.

I agree it is important not to needlessly break things, but in this case, adding extra code to Underscore so that people can continue to apply a

[2020-05-15 08:44] serut commented on #2851
No that's not working to remove the shim config from the rconfig.js. It just crash with `_` equals `undefined` on the following call :
[code]

[2020-05-15 08:57] serut commented on #2851
If I remove this from the `shim` object inside `rconfig.js` :

[code]

It get the same error with 1.9.2. So the shim option was previously required to be able to interact with your library :expressionless:

[2020-05-15 09:08] jgonggrijp commented on #2851
@serut Is your code somewhere trying to use `_` as a global instead of as an AMD import, or is the underscore-min module actually failing to export? These are two fundamentally different levels of breaking change.

[2020-05-15 09:29] serut commented on #2851
What I do :
- I remove the shim option for underscore in the `rconfig.js`
- I rebuild with underscore 1.10.2
- I get [an error the first time our code uses underscore](https://github.com/MizarWeb/Mizar/blob/master/src/Mizar.js#L401), but we're not using it globally. You have [the import in top of the file here](https://github.com/MizarWeb/Mizar/blob/master/src/Mizar.js#L26-L45)

[2020-05-15 09:53] jgonggrijp commented on #2851
This works for me with all Underscore versions from 1.6.0 to 1.10.2, without shim config:

[code]

[code]

So we need to figure out what is different about your situation. I'm going to close-read your code now.

[2020-05-15 10:25] jgonggrijp commented on #2851
@serut When I try running your code without the shim config, everything seems fine with both 1.9.2 and 1.10.2. However, you showed an error from a failing test suite. I cannot find this test.js file that appears at the bottom of that stack trace. Also, the `test` script in your package.json appears to be a no-op. How do I run your tests?

[2020-05-15 10:45] serut commented on #2851
Thanks for your time @jgonggrijp ! I really appreciate it.

I get what you mean, there is some confusion sorry about that ! To test it, you need to open the page `examples/test.html` in your browser (and not running npm test). Let me resume what I do:
- npm i
- I edit `src/rconfig.js` to remove `underscore-min` from shim object
- `npm run build:dev` (It creates the `mizar.min.js` unminified)
- I o

[2020-05-15 11:46] jgonggrijp commented on #2851
Alright! I figured out what is happening. Your config is trying to rename the underscore module to `'underscore-min'`:

https://github.com/MizarWeb/Mizar/blob/837d04e9d44204519844883dfd2d9b97e59711ab/src/rconfig.js#L30

But Underscore doesn't support this, as its AMD module name has been hardcoded to `'underscore'` since version 1.6.0:

https://github.com/jashkenas/underscore/blob/1f4bf626f23a99f7

[2020-05-15 12:31] serut commented on #2851
Thanks @jgonggrijp ! It works. I will contact the owner of that repository to use `underscore` instead.
I don't think the 3rd option needs to be considered, as this issue would help others doing the same thing _if they exists_.

[2020-05-18 03:18] jashkenas commented on #2851
I think you’ve solved this one quite satisfactorily. 👏

[2020-05-18 10:09] #2851 closed

[2020-05-20 17:10] sktguha commented on #2850
Wow that quite a comprehensive feature request. You have raised very good points. I am not sure how the interface should be yet. Do you have any additional thoughts on this ?

[2020-05-20 22:00] jgonggrijp commented on #2850
Other than what I already wrote, no not really. I'm not in a hurry, though. Are you?

[2020-05-25 18:04] dmaicher opened #2852 "mixins not working with 1.10.2 and require('underscore')"
I updated from 1.9.2 to 1.10.2 today and for me mixins are not working anymore when using `require('underscore');`

This fails with `TypeError: _.camelcase is not a function`:
[code]
but this works:

[code]

[2020-05-25 21:03] jgonggrijp commented on #2852
Sorry to hear that this is biting you, @dmaicher. However I cannot reproduce this with Underscore 1.10.2 and underscore.string 3.3.5. Is there anything special about your setup?

[2020-05-26 06:30] dmaicher commented on #2852
Thanks for your fast reply :blush:

I'm using `webpack@4.43.0` and the issue happens with code bundled for the browser. When I run the code with node on the CLI then it appears to be fine :confused:

[2020-05-26 06:48] dmaicher commented on #2852
Here is a minimal reproducer: https://github.com/dmaicher/underscore_issue_2852

[2020-05-26 09:23] jgonggrijp commented on #2852
Here is your problem:

https://github.com/dmaicher/underscore_issue_2852/blob/348eef226ec7392b2ced2b92ddf2fcba2517ab5c/public/build/app.js#L13

That import path, `underscore/modules/index-all.js`, must WebPack have obtained from the `module` field in our `package.json`:

https://github.com/jashkenas/underscore/blob/5d8ab5e37c9724f6f1181c5f95d0020815e4cb77/package.json#L17-L18

whereas the `main` f

[2020-05-26 09:23] #2852 closed

[2020-05-26 10:17] dmaicher commented on #2852
@jgonggrijp thanks for checking :+1:

I was able to fix it by adding an alias for resolving in the webpack config:
`'underscore': 'underscore/underscore.js',`

But this seems a bit odd to me. Many other packages I use specify `"main"` and `"module"` inside their `package.json` and for them it works fine.

Webpack takes the first field it finds in the order `['browser', 'module', 'main']`
See https

[2020-05-26 11:52] jgonggrijp commented on #2852
If you name those other packages, I'm happy to take a look. Anyway, `module` and `main` are not meant to be interchangeable, so WebPack's treating them as such is unwarranted:

https://github.com/rollup/rollup/wiki/pkg.module

The documentation you linked to hints at a perhaps slightly less ugly solution, which is to set `resolve.mainFields` to `['main']`. Again, I believe WebPack shouldn't be con

[2020-05-26 12:10] dmaicher commented on #2852
Just in case here are some packages I use that have both `module` and `main`:

https://www.npmjs.com/package/vuejs-datepicker
https://www.npmjs.com/package/bootstrap-vue
https://www.npmjs.com/package/acorn

[2020-05-26 12:37] dmaicher commented on #2852
Related webpack issue: https://github.com/webpack/webpack/issues/5756

[2020-05-26 14:02] jgonggrijp commented on #2852
Yes, that is your issue. Although there also seems to be something off with the way WebPack is emulating CommonJS when resolving to the `module`. It appears that it is doing something like this:

[code]

[code]

The latter line would make sense if you were doing this:

[code]

but what you're actually doing is equivalent to this:

[code]

and the right way to translate that to ES3 in WebPack would

[2020-05-30 14:55] MaxBarraclough commented on #2833
That's much clearer, thanks.

Honestly, yes. Brevity is a virtue, but not at the cost of completeness. That's a different matter though, and you've already addressed the ambiguity that this thread is about.

Disagree. If we treat the memoized function as simulating the final call to the underlying function, we'd assume it would throw, just as the final call to the underlying function did. If the d

[2020-05-30 14:55] #2833 closed

[2020-06-02 21:07] jgonggrijp opened #2853 "Double chaining leads to a stack overflow"
The following expression is useless, since you'd expect the second `chain` call to just return a new wrapper of the same value:

[code]

but rather than behaving like a no-op, it results in a stack overflow. Credits to @reubenrybnik for pointing this out in https://github.com/DefinitelyTyped/DefinitelyTyped/pull/45201#issuecomment-637696652. This minor pitfall might have been introduced with #1691

[2020-06-08 09:13] cliffordp opened #2854 "created in err"

[2020-06-08 09:15] #2854 closed

[2020-06-13 23:25] jgonggrijp commented on #2833
No need to apologize, @MaxBarraclough! This time, I was a bit slow to respond as well.

I'm happy that we could reach an agreement on the core of the issue. As I said before, please feel welcome to open a pull request any time.

[2020-06-15 12:07] jgonggrijp commented on #2847
@jashkenas We just got a patch by @dominykas that fixed an inconspicuous indentation mistake in the `.travis.yml`. I suspect this is the reason why Travis stopped working in 2018 (see https://github.com/jashkenas/underscore/pull/2856#issuecomment-644083601). However, it appears that fixing the indentation is not sufficient to re-activate the repository; if I try to trigger a custom build on travis

[2020-06-15 14:50] jashkenas commented on #2847
Sure thing. I’ve logged in and reactivated [the repository](https://travis-ci.org/github/jashkenas/underscore) on Travis.

[2020-06-15 20:52] jgonggrijp commented on #2847
Thanks @jashkenas! I was able to trigger a [custom build](https://travis-ci.org/github/jashkenas/underscore/builds/698687023). It failed, but hopefully at least we now have any CI at all. After I'm done with #2849, I'll see whether I can fix the build.

Keeping this open until I'm sure the build triggers automatically.

[2020-06-19 20:48] jgonggrijp commented on #2847
I pushed a bunch of new commits to #2849 and Travis automatically started a new build, so it appears we'll have CI again. The build is however consistently failing over something futile, so keeping this open and changing the title to remind myself that there is still something to be done.

[2020-06-19 20:54] jgonggrijp commented on #2793
Closing due to lack of response. @orezvani Please feel welcome to comment or reopen.

[2020-06-19 20:54] #2793 closed

[2020-06-23 07:13] carpben commented on #2762
@jashkenas @jgonggrijp , Thanks for the patience, and sorry for the delay on my part.

I submitted https://github.com/jashkenas/underscore/pull/2858.

[2020-06-26 09:02] mafiosso commented on #2771
I tried to clone underscore-contrib and add mapcan code but without luck. Grunt is broken in current node v14.4.0, dependencies are pretty outdated. Does it make any sense to resurrect underscore-contrib?

[2020-06-26 12:49] jgonggrijp commented on #2771
Hey @mafiosso, thanks for getting back here. I think it makes total sense to resurrect Underscore-contrib and in fact, I'm planning to do exactly that. If you want, you are welcome to help me with that, but I take no offense if you don't.

As for your prospective PR to add `mapcan`, you could start by pushing a branch that just adds the function to the code, ignoring the infrastructure for the mom

[2020-06-27 23:22] #2847 closed

[2020-06-29 14:35] mafiosso commented on #2771
Hi @jgonggrijp, sorry for my previous unreachability. Yes I agree with you - underscore-contrib is full of fine utilities, it would be a shame to get rid of this project. I can help you with update of this project eventually. Maybe you should tell me your vision first.

Does it make a sense to make the pull request before the planned "great" undescore-contrib update?

[2020-06-30 10:07] jgonggrijp commented on #2771
Good to have you on board!

My ultimate plan is to modularize it all the way down to the individual functions, with a similar layout as I have made for Underscore itself (see the master branch). @fogus agreed with this plan in private communication, so I foresee no major hurdles except for the nontrivial amount of work.

Before I can make any exciting changes, though, I'll need to tackle boring is

[2020-06-30 19:56] jgonggrijp commented on #2771
Great!

I don't think it hurts to have this discussion here, but you are right that discussion about Contrib belongs over there. Especially so that it does not escape the attention of anyone interested in that repository. I guess I should put the plan that I outlined above over there as well. I'll hold off doing that until I'm actually ready to get started, though. Right now, I first want to get U

[2020-06-30 19:56] #2771 closed

[2020-07-03 22:04] jgonggrijp commented on #2762
Was merged, closing.

[2020-07-03 22:04] #2762 closed

[2020-07-05 04:09] carpben commented on #2286
I wonder if this feature is still relvant, and is worthy of development in Javascript's current eco-system.

Since this suggestion was originally published, arrow function became a popular and wide spread feature in the Javascript ecosystem.

At the time @machin had to write:
[code]
But today we can simply write:
[code]

@machin wanted to be able to write:
[code]
But today we can write:
[code]
Per

[2020-07-05 18:44] jgonggrijp commented on #2286
@carpben I think you are right that with modern syntax, `_.propertyResult` wouldn't be a game changer. At least not as an iteratee; there may be other convincing use cases that we haven't considered. But as far as I know, nobody has reported one yet.

So I agree that it doesn't seem right to add this to Underscore at this time, but I would still welcome it as a contribution to Underscore-contrib.

[2020-07-07 14:16] erikblessman opened #2861 "Access to Underscorejs.org Blocked"
I work for LinQuest Corporation as a S/W Developer and have been using underscore js for a while now.  Just recently, access to underscorejs.org has been blocked.  I checked with our IT dept. and they are not blocking access.

What do we need to do to restore access to underscorejs.org?

[2020-07-07 14:55] jashkenas commented on #2861
I’m afraid that I don’t know what you’ll need to do, as nothing has changed on our end.

If you’d like to reply with more information, such as the DNS lookup logs from when you try to connect from your work computer, we’ll be happy to reopen this ticket and help you figure it out.

[2020-07-07 14:55] #2861 closed

[2020-07-16 10:13] ocean90 opened #2863 "ESM: template() can cause a `_.escape is not a function` error"
I'm using `underscore@1.10.2` and tried to use the ESM version like this.

[code]

Unfortunately this is causing a `Uncaught TypeError: _.escape is not a function` error. The error doesn't happen if the function doesn't need to escape something. Am I'm doing something wrong here? It's unclear to me why it tries to access the underscore global. Webpack is used to build the app.

The same happens wi

[2020-07-16 13:56] jgonggrijp commented on #2863
@ocean90 Thanks for reaching out. This is expected behavior for modular usage, you can enable HTML escaping as follows:

[code]

Your own template code might also reference other Underscore functions through the `_` namespace handle, for example `_.each`. Those functions also need to be enabled using `mixin` like above.

I'm currently writing an article about modular Underscore in which I explain

[2020-07-16 15:04] ocean90 commented on #2863
Thanks or the quick answer, @jgonggrijp. With the `mixin()` part it's working fine now. 🙌

[2020-07-16 15:42] jgonggrijp commented on #2863
Leaving this open as a temporary documentation until the article has been published.

[2020-07-24 12:37] ShanksRH opened #2865 "OOP style doesn't work with require()"
Hello, after underscore 1.10 update, OOP style broke down with `_ is not a function` error, if use `const _ = require('underscore')` on client.

Sandbox example: https://codesandbox.io/s/eloquent-galileo-tf9je?file=/src/index.js

[2020-07-24 13:15] jgonggrijp commented on #2865
Thanks for reaching out.

Your sandbox is importing Underscore twice in the same module, once with ESM syntax and once with CommonJS syntax. This is probably causing Parcel to use the same underlying ESM module in both cases and then to emulate the `require` call as `import * as _r from 'underscore/modules/index-all.js'`. Note that the wildcard import is not equivalent to the default import. This

[2020-07-24 13:35] ShanksRH commented on #2865
Thanks for answer.
But if I remove import and leave only require() the problem still occurs.
Sandbox edited.

[2020-07-24 14:03] jgonggrijp commented on #2865
In that case, Parcel is resolving the path for your `require` call incorrectly. It should be `node_modules/underscore/underscore.js` (the `main` field of the package.json) but it appears to be using `node_modules/underscore/modules/index-all.js` instead (the `module` field of the package.json). Using the `module` path is never correct for CommonJS imports, so this is a bug in Parcel.

Adding to th

[2020-07-24 14:03] #2865 closed

[2020-07-26 12:57] jgonggrijp opened #2867 "Transposing matrices using zip/unzip"
This came to my attention while reviewing https://github.com/DefinitelyTyped/DefinitelyTyped/pull/46306.

The documentation currently suggests to transpose nested arrays using `zip.apply`. This is, however, a bit convoluted, as `unzip` does matrix transposing out of the box, and `zip` is actually implemented on top of `unzip`. I suspect this is a part of the documentation that stems from an era wh

[2020-07-27 17:06] jashkenas commented on #2867
That sounds great to me!

[2020-07-27 20:51] #2867 closed

[2020-08-01 09:27] #2673 closed

[2020-08-07 12:08] sktguha opened #2871 "add _.oneArg (and maybe _.twoArgs and _.limitArgs)"
I suggest adding a new function called oneArg to underscore. It wraps a function and allows it to be called with one argument only and ignores rest of the arguments.
Implementation:
 `const oneArg = fn => arg => fn(arg);`

usage:
 Before oneArg:
 ` ['34','11','19','199','201'].map(parseInt);
  // returns [34, NaN, 1, 1, 33]`

 After oneArg:
 `const safeParseInt = oneArg(parseInt);
  ['34','11','19

[2020-08-07 20:12] jgonggrijp commented on #2871
Thanks for the suggestion, @sktguha! It is an interesting idea. I'm cross-posting this to our companion project, [Underscore-contrib](https://documentcloud.github.io/underscore-contrib/), because I think it should be added there first before we consider making it part of the core library.

In the meanwhile, your particular use case can also be handled using `_.partial`:

[code]

You would be right

[2020-08-09 10:14] sktguha commented on #2871
Thanks for the reply . Interestingly it is available as unary in lodash. https://bit.dev/lodash/lodash/unary

[2020-08-29 12:42] jgonggrijp opened #2873 "gh-pages is hiding the internal modules in the modular annotated source"
In the [modular annotated source](https://underscorejs.org/docs/modules/index-all.html), if you click on a link that leads to an internal module, such as [`_setup.js`](https://underscorejs.org/docs/modules/_setup.html), you get a 404 page instead of the annotated source of that module. This is despite the fact that the corresponding HTML files were correctly pushed to the `gh-pages` branch.

It ap

[2020-08-29 20:35] jgonggrijp commented on #2873
Update: the `.nojekyll` did actually work, but the effect somehow took rather long to manifest. I also got a response from GitHub support sooner than I expected, which prompted me to try again and discover that the issue was fixed on my own fork. I have just pushed e634b8b to the `gh-pages` branch here on the main repo, so the modular annotated source should be fine within the next half hour or so

[2020-08-29 20:35] #2873 closed

[2020-08-29 20:36] jgonggrijp commented on #2873
Just checked, everything works as intended now.

[2020-09-03 20:34] PeterKnight opened #2874 "package.json needs type module for ESM exports to work in node 13+?"
Since upgrading Node to v13 I'm having trouble importing modules from underscore unless I add `"type": "module"` to underscore's package.json.

[2020-09-03 21:02] jgonggrijp commented on #2874
Thanks @PeterKnight for reaching out.

Please provide some details:

- version of Underscore
- code example of your ESM imports
- any additional tools that you're using, including versions
- configuration code for your tools

Our continuous integration tests [run fine on node 14](https://travis-ci.org/github/jashkenas/underscore/jobs/722135280), so at least it cannot be the case that there is an o

[2020-09-03 21:13] jgonggrijp commented on #2874
Oh, and also the error message(s) you're seeing.

[2020-09-03 22:43] PeterKnight commented on #2874
Code example:
`import { without } from "underscore/modules/index.js";`

Version of underscore 1.11.0

Tested on Node v13.11 and again on Node v14.8.0.
On Node v13 the error mentions not finding an export called `without`
Retested after updating to Node v14.8.0 which gives a more relevant error message:

[code]

Adding `"type": "module" to underscore's package.json fixes the issue.

Let me know if

[2020-09-04 12:23] jgonggrijp commented on #2874
That's enough to confirm my suspicion, thank you.

My suspicion was that you were using Node.js's builtin, experimental support for ESM, which we don't support. As you say, it doesn't work "out of the box"; it requires either that we set the `type` to `module` (which breaks the package for the rest of the world), or that we add an `exports` field (which will basically prevent us from being compati

[2020-09-04 12:23] #2874 closed

[2020-09-04 21:23] PeterKnight commented on #2874
Thank you for the thorough explanation @jgonggrijp. It's definitely frustrating how Node is handling modules, the .mjs file extension stuff is particularly grating. I had working code with the esm package when things suddenly broke and I started having trouble importing from esm modules. Then I tried removing esm since I discovered Node now supports esm modules without a flag, but I just ran into

[2020-09-04 21:59] jgonggrijp commented on #2874
Welcome. Sorry to hear the esm package did not address your needs. I'd be happy to take a look at your setup if you'd like some help.

[2020-09-05 15:59] PeterKnight commented on #2874
Thanks for the offer of help, I think I've finally got things working again after refactoring code, so the esm package is doing the trick again. And also thank you for making underscore support esm imports in the first place!

[2020-09-05 21:06] jgonggrijp commented on #2874
Welcome again and glad to hear it's working now!

[2020-09-20 06:32] erossignon opened #2875 "isEqual not producing correct result when comparing array of Buffers in 1.11.0"
- version underscore@1.11.0

[code]

- version  underscore@1.10.2 was oK

[2020-09-20 12:55] jgonggrijp commented on #2875
@erossignon Thanks for reaching out. The expected behavior in 1.10 was by accident rather than by design, since we didn't support `Buffer` yet in that version, but I agree that the new behavior in 1.11 is wrong.

The issue also manifests with direct `Buffer`-to-`Buffer` comparisons:

[code]

At first sight, it seems as if `Buffer` instances always compare equal in Node.js. Upon closer investigatio

[2020-09-23 10:32] #2875 closed

[2020-09-25 12:19] jgonggrijp commented on #2863
The article was published in the meanwhile. The relevant section is [here](https://juliangonggrijp.com/article/introducing-modular-underscore.html#how-do-i-use-_.template).

From Underscore 1.11 onwards, the above code snippet still works, but I recommend a slightly different way of importing:

[code]

I also recommend isolating the modular imports from the code that actually uses Underscore throu

[2020-09-25 12:19] #2863 closed

[2020-09-25 14:32] jgonggrijp commented on #2085
It's interesting again, because the Sauce Labs tests are now running, but some browsers fail to spin up. This is causing the Travis build to report as broken overall, even though all the tests are passing. [This line](https://travis-ci.org/github/jashkenas/underscore/jobs/730261946#L804) is a good example: passing tests above it, failing Sauce Labs browsers below it.

[2020-09-25 14:34] jgonggrijp opened #2879 "Broken browsers in Sauce Labs tests"
The Sauce Labs tests are now running during CI, but some browsers fail to spin up. This is causing the Travis build to report as broken overall, even though all the tests are passing. [This line](https://travis-ci.org/github/jashkenas/underscore/jobs/730261946#L804) is a good example: passing tests above it, failing Sauce Labs browsers below it.

[2020-09-25 14:35] #2085 closed

[2020-10-08 11:42] randym opened #2882 "isEqual is always true for errors that share the same constructor"
Is this intentional?

[code]

This holds true for extensions as well...

[code]

Other built in types (e.g. Date, RegExp, Symbol) have various methods to coerce for comparison.
Error comparison ends up in deep equality comparison, which relies on Object.keys and ends up comparing empty arrays.

Happy to send in a PR if this is unintentional, also happy to work around it if it is.

[2020-10-08 12:08] jgonggrijp commented on #2882
Errors are special because all their properties are prototype getters. Why do you want to compare them for equality?

[2020-10-08 13:59] randym commented on #2882
Thank you for the _very_ prompt reply @jgonggrijp

I came across this in a client's library that uses backbonejs.  Registered listeners should receive notification when attributes change. One of the attributes was an error. Changes to that attribute did not generate any notifications. Dug in and arrived here.

[2020-10-08 15:41] jgonggrijp commented on #2882
Welcome. Makes sense. A few more questions:

- Why do those models have errors as attribute values?
- How would you fix `_.isEqual` for errors?
- Alternatively, how would you work around the issue?

Sorry to be so inquisitive. Errors are special beasts, so I'm still undecided on what would be the most reasonable course of action.

[2020-10-09 07:02] randym commented on #2882
No worries - I share you trepidation to jump onto a *solution* - I expect the authors, contributors and maintainers of such a long standing library have already spent considerable time on this.

- Why do those models have errors as attribute values?

The model manages facets of a speech recognition process that can contain an errors.

- How would you fix -.isEqual for errors

My first consideratio

[2020-10-09 09:28] jgonggrijp commented on #2882
I'm glad we're on the same page with regard to not jumping to solutions.

I don't think the fix you're proposing for `_.isEqual` would work, because this line checks whether each `key` is an own property of `b`, which in the case of `Error` at least two are guaranteed not to be give your modification:

https://github.com/jashkenas/underscore/blob/d9741b32f29ddc24ac94f9ee8d073599948945e3/modules/is

[2020-10-09 15:18] jgonggrijp commented on #2882
Yes, breaking changes are a concern. If a breaking change is purely a bugfix (bugfixes are in a sense always "breaking" changes), then we can get away with putting it in a minor update, but otherwise, it needs to be postponed until Underscore 2.0. An example of such a change is #2815.

Errors are a bit of an edge case, which always makes it a bit fuzzy whether you're actually making the code more

[2020-10-09 15:25] jgonggrijp commented on #2882
TLDR @jashkenas:

- @randym has a plausible use case for comparing `Error` objects using `_.isEqual`.
- The problem is that `Error` objects always compare equal if they have the same constructor, even if they have a different `.message`, were thrown on a different line, etcetera.
- Semantically speaking, the most correct thing to do might be to compare `Error` instances by identity, i.e., return `

[2020-10-11 20:53] jgonggrijp opened #2883 "Review _.throttle, _.debounce tests for time tampering"
`_.throttle` and `_.debounce` both have a test to confirm that the limiting time interval continues unaltered when `_.now` is overridden. These tests can be found by searching the `test/` directory for the phrase `after system time is set backwards`.

Since the modularization, these tests don't meet the intended purpose anymore; most Underscore functions now use direct references to other Undersco

[2020-10-22 20:42] #2879 closed

[2020-10-31 03:12] zackschuster opened #2887 "repo fails git fsck"
repro:

[code]

[2020-10-31 22:01] jgonggrijp commented on #2887
@zackschuster Thanks for reaching out.

I had to look online for further information, because I had never heard about git fsck or this particular error before. I eventually found in https://github.com/pallets/flask/issues/2029 that there are two possible solutions for this type of problem. The first really solves the issue by rebuilding the repository, but it is too destructive because all hashes

[2020-10-31 22:46] zackschuster commented on #2887
@jgonggrijp i'm using git 2.29.2 on macOS, compiled in the standard way with autoconf & make. apologies for the error in the console command; truthfully, i have receive.fsckObjects set from `$PROFILE/.gitconfig`.

i'm not sure how to track down blob errors on my end, but i'll try to get more details :smile:

[2020-11-05 18:05] zackschuster commented on #2887
@jgonggrijp i found some info. of note:

1. running `git clone --config transfer.fsckobjects=false git@github.com:jashkenas/underscore.git` avoids the error
2. subsequently, running `git fsck` in the repo (using `v2.29.2`) reveals two zeroPaddedFilemode errors
3. `git cat-file -p` shows a list of files, which suggests to me they might be bad commits

i've included the console output for reference:

[2020-11-05 18:48] meyraa commented on #2882
I have the same issue after updating from 1.10.2 to 1.11.0:

[code]

[2020-11-05 20:58] jgonggrijp commented on #2887
I can now reproduce the issue. Thanks for persevering, @zackschuster.

So we should probably just document the fact that this problem exists and explain how people can work around it. Perhaps a `CLONING.md` would be an appropriate place for such documentation.

Or, *maybe* we can somehow figure out which commits reference this tree. If we're very lucky, it might only be in some unimportant side br

[2020-11-05 21:07] jgonggrijp commented on #2882
@meyraa I don't think this is the same issue. Moreover, it appears I fixed the comparison of `Buffer`s in #2884. Please check whether you still run into your problem with the [bleeding edge version](https://raw.github.com/jashkenas/underscore/master/underscore.js) (or [esm](https://raw.github.com/jashkenas/underscore/master/underscore-esm.js)). You can use that until version 1.12 is released, whic

[2020-11-06 00:05] zackschuster commented on #2887
i tried using `git fast-export`+`git fast-import` (using [this SO answer](https://stackoverflow.com/a/39990687)) and that fixed the repo, but altered hashes. flask lists their zeroPaddedFilemode instructions [under contributing](https://flask.palletsprojects.com/en/1.1.x/contributing/), so copying their text to `CONTRIBUTING.md` could be an option.

[2020-11-06 06:52] meyraa commented on #2882
@jgonggrijp Thank you, the bleeding edge version works fine.

[2020-11-06 15:38] pratishtha25-gif commented on #257
i am having the same error please help!

[2020-11-06 15:39] pratishtha25-gif commented on #257
you have copied it right

[2020-11-19 12:07] aswathkk opened #2889 "_.ieEqual doesn't work with objects whose value is a Set"
Here's the example which was failing for me:
[code]

[2020-11-20 23:07] jgonggrijp commented on #2889
Duplicate of #2451 and by extension, #2147.

[2020-11-20 23:07] #2889 closed

[2020-11-20 23:09] jgonggrijp commented on #2889
By the way, support for `Map`, `Set` and iterables is planned for version 2.0.

[2020-11-23 22:21] jgonggrijp commented on #2882
@jashkenas informed me he won't have time to look at this issue for a while. I'm not in a rush, so I'm just leaving this open so I can give it more thought.

@captbaritone @michaelficarra @paulfalgout @joshuacc (or anyone else) if you feel like giving an opinion, I'm interested.

[2020-11-24 22:20] jashkenas commented on #2882
I think you’ve all arrived at very reasonable conclusions here. Special casing `isEqual` for object identity comparison for Errors specifically seems like a nice improvement to make here.

To the larger point about version numbers — cases like this are a clean example of why I do not believe in Semantic Versioning. As long as one man’s bugfix is another man’s breaking change, the scheme is unworka

[2020-11-25 01:30] jgonggrijp commented on #2882
Thanks for stepping in anyway, @jashkenas! While I'm a bit more optimistic about semver, I can follow your reasoning. I'll slap a "change" label onto this and I'll also create a 2.0 milestone while I'm at it.

[2020-12-03 12:21] kritollm opened #2890 "Wrong parameters for delay in _.debounce"
### delay.js

[code]
###  from debounce.js
[code]

This is the delay parameters
[code]
This is the passed parameters in debounce
[code]

My theory is that the delay function has had a parameter removed without the debounce being updated, like this.

[code]

[2020-12-03 16:11] jgonggrijp commented on #2890
@kritollm Thanks for reaching out. Are you reporting this as something that you noticed while reading the code, or did you actually run into problems with `_.debounce`?

`_.restArguments` is a metafunction: it takes a function (the anonymous `function(func, wait, args)`) and then it returns a new function (the `_.delay` default export). This new function accepts an arbitrary number of arguments. A

[2020-12-04 07:31] kritollm commented on #2890
Thanks for the answer and explanation.

[code]
Out of sheer curiosity. Why was this [optimization ](http://modernjavascript.blogspot.com/2013/08/building-better-debounce.html)never implemented? And the result, as I understand it, will only be captured the first time when you choose immediate. So what's the use case (it doesn't say anything about it in the documentation)?

I use the first version o

[2020-12-04 11:06] jgonggrijp commented on #2890
The result is *always* captured, but if `immediate` is `false`, it happens in the `later` callback.

That optimization (thanks for bringing it to my attention!) *was* implemented and accepted in #1269. Unfortunately, later somebody came along who thought it looked messy and undid the optimization in #2340. If you want, you can restore the optimization again and get the credit.

[2020-12-07 11:13] marcolin94 opened #2893 "Adding methods IsDefined and isNotNull"
Hi guys,

Currently if you want to check that an element is non-null or necessary you have to use the two methods in this way:
- !(isNull(...))
- !(isUndefined(...))

It would be useful for code cleanup to have these two methods directly

- isNotNull(...)
- isDefined(...)

What do you think?
Thanks a lot

[2020-12-07 14:34] jgonggrijp commented on #2893
You can add each of them to Underscore with a single line if you need to:

[code]

Generally, in order to keep Underscore lean and mean, we don't add functions that are just simple negations, compositions etcetera of other functions that are already in Underscore. However, please feel welcome to submit a PR to [Underscore-contrib](https://github.com/documentcloud/underscore-contrib) if you still t

[2020-12-07 14:34] #2893 closed

[2020-12-10 07:47] kritollm commented on #2890
My questions have been answered and clarified so I close the issue.

I now also understand the reason why the result from func is always saved. Every time you run the debounced function  you get the last saved result. (There are many who have wondered why #1101 and #846)

[2020-12-10 07:47] #2890 closed

[2020-12-10 12:01] jgonggrijp commented on #2890
Happy to hear the question is resolved. Thanks for linking to the related issues!

[2020-12-13 21:34] jgonggrijp commented on #2325
Reminder to self: `_.delay` is essentially a ponyfill for `setTimeout` in IE < 10 (where `setTimeout` doesn't support passing additional arguments), so it can be changed into just an alias to `setTimeout` when we implement this.

@jehrenzweig

Since version 1.12, there is: https://underscorejs.org/#compatibility.

[2020-12-17 21:38] jgonggrijp opened #2895 "Tests don't load on website"
The [tests on the website](https://underscorejs.org/test/) don't load because the `QUnit` object can't be found because the module that defines it isn't present on the GH Pages server because it's in the `node_modules`. Maybe this was broken in #2888, or maybe I already broke this myself at a much earlier stage.

I'll try to fix this soon.

[2020-12-17 23:50] jgonggrijp commented on #2895
Was fixed in c9b4b63.

[2020-12-17 23:50] #2895 closed

[2020-12-19 17:07] jgonggrijp commented on #2688
Update: I have a "compromise" fix on a private work-in-progress branch, which implements the generalization I mentioned above and then jumps through a few additional hoops in order to keep it a non-breaking change. I'll probably publish that branch somewhere in the next month or so.

[2020-12-19 19:11] jgonggrijp commented on #2218
Message from the future: this was not a bug. `+null` evaluates to `0`.

[2020-12-24 08:53] gsivaprabu opened #2901 "how to implement forEachRight lodash feature in underscorejs ?"
How to implement forEachRight lodash feature in underscorejs ?

[2020-12-24 10:54] jgonggrijp commented on #2901
Before I answer your question, I should emphasize that Underscore will probably never implement `eachRight`. The distinction between "forward" and "backward" iteration really only applies to arrays; in objects, any order over the keys is arbitrary, and in maps, sets and iterables (which we will add support for in Underscore 2.0), there is only one direction to choose from. In fact, for this same r

[2020-12-24 13:15] jgonggrijp commented on #2901
Before I answer your question, I should emphasize that Underscore will probably never implement `eachRight`. The distinction between "forward" and "backward" iteration really only applies to arrays; in objects, any order over the keys is arbitrary, and in maps, sets and iterables (which we will add support for in Underscore 2.0), there is only one direction to choose from. In fact, for this same r

[2020-12-24 13:15] #2901 closed

[2020-12-24 16:22] gsivaprabu commented on #2901
@jgonggrijp

In lodash - 2.4.1 eachRight() is different from your logic

[2020-12-24 19:30] jgonggrijp commented on #2901
Sure, there are differences, including the ones I already mentioned. So what exactly do you need, and why?

[2020-12-24 23:00] gsivaprabu commented on #2901
In lodash - 2.4.1 have security vulnerability issue is there so plan to use  underscorejs version is 1.6.0 , in my project other functionalities support in underscorejs 1.6.0.  The only problem in forEachRight only not able construct the prototype in underscorejs 1.6.0

[2020-12-25 10:38] jgonggrijp commented on #2901
@gsivaprabu Could you show a few lines of code that illustrate the problem?

If at all possible, I recommend that you upgrade to Underscore 1.11 or later, because 1.6 is really outdated.

[2020-12-26 04:09] gsivaprabu commented on #2901
Hi @jgonggrijp

Thanks for your valuable reply

The whole project based on 1.6 only, we update underscorejs 1.11 or later means  need to re-write all modules.

Only function i struggle in lodash - 2.4.1 eachRight() only

https://lodash.com/docs/2.4.2#forEachRight

`_.forEachRight(collection, [callback=identity], [thisArg])`

My Scenario like below:

`  _.forEachRight(groupBy, this.addCreateChart,

[2020-12-26 09:10] jgonggrijp commented on #2901
@gsivaprabu Please give me a bit more guidance. What error(s) do you see if you use just Underscore 1.6, and what error(s) do you see if you try to mix in the `eachRight` implementation I suggested? What exactly does the module look like where you pasted my `eachRight` implementation?

Also, are you really sure you'd need to rewrite all modules in order to use Underscore >= 1.11? There shouldn't b

[2020-12-27 01:14] gsivaprabu commented on #2901
@jgonggrijp

Got error like updating 1.6 to 1.12

`Uncaught ReferenceError: _is not defined`

[2021-01-08 11:42] albaquarto opened #2903 "lize"
It's my error. sorry.

[2021-01-11 14:11] jgonggrijp commented on #2445
Closing for the same reason as #2532.

[2021-01-11 14:11] #2445 closed

[2021-01-11 14:42] jgonggrijp commented on #2903
@albaquarto It looks like there was a mishap when you submitted this issue ticket; the description is empty. Could you please edit your opening post to explain the issue? Thanks in advance.

[2021-01-11 15:02] #2903 closed

[2021-01-11 15:02] albaquarto commented on #2903
.

[2021-01-11 17:24] jgonggrijp commented on #2903
@albaquarto No problem, thanks for closing.

[2021-01-16 14:02] 368573607 opened #2905 "Why put the compiled .js file in the source code?"
Shouldn't it only provide source code?

[2021-01-16 16:07] jgonggrijp commented on #2905
Because this is an easy way for us to offer a bleeding-edge download on [the website](https://underscorejs.org).

Note that the bundles are generated in a commit hook, so the developer doesn't have to remember to commit the bundle, as long as she makes sure to install the dev dependencies.

Also, a subtle but important difference: "in the repository" is not the same as "in the source". The source

[2021-01-16 16:07] #2905 closed

[2021-02-07 10:10] gprasanth opened #2909 "Add dark mode support for homepage"
Tried adding dark mode support for the docs on the underscorejs.org homepage.

Here's how it looks before and after:

![Screen Shot 2021-02-07 at 15 35 44](https://user-images.githubusercontent.com/1318897/107143283-4f19dc00-695a-11eb-98bb-31a670a162f4.png)
![Screen Shot 2021-02-07 at 15 24 45](https://user-images.githubusercontent.com/1318897/107143286-5345f980-695a-11eb-805e-3f6150a41eb1.png)

T

[2021-02-07 11:14] jgonggrijp commented on #2909
Nice suggestion, thanks!

[2021-02-26 20:33] AlAyoub opened #2911 "Security issue - underscore-min.js Lodash Script?"
Hi,

My scanner is picking up a vulnerability from underscore It appears the issue is that underscore is using a lodash script in underscore-min.js. Is that correct? Can anyone confirm?

There was a PR that fixed the issue in 4.17.21.
https://github.com/lodash/lodash/pull/5085/files

[2021-02-27 11:13] jgonggrijp commented on #2911
Hi @AlAyoub, thanks for reaching out. Underscore does not depend on Lodash; to the contrary, Lodash is a fork of Underscore. You are probably dealing with a file named `underscore-min.js` that actually contains an old version of Lodash.

I'll close this ticket now, but please feel free to continue discussion if you feel the need.

[2021-02-27 16:15] AlAyoub commented on #2911
Hi @jgonggrijp,

When I trace based on the information provided, it points directly to underscore. Here is what the reporting looks like on my end....

The library/software, Unpatched Library/Software: underscore-1.9.2, has unpatched security vulnerabilities.

They are:
     Reference: CVE-2021-23337 Status: Open
     Severity: 7.2 Category: critical
     URL: http://cve.mitre.org/cgi-bin/cvename.

[2021-02-27 16:37] AlAyoub commented on #2911
@jgonggrijp here is more info....

Description from CVE
All versions of package lodash; all versions of package org.fujion.webjars:lodash are vulnerable to Command Injection via template.

Explanation
The underscore package is vulnerable to Command Injection. The template function in underscore.js and template.js does not properly ensure the variable property of the oldSettings parameter to be a v

[2021-02-28 19:25] jgonggrijp commented on #2911
@AlAyoub thanks for getting back here.

This appears to be a security vulnerability that Lodash inherited from Underscore, and for some reason the vulnerability was only reported to Lodash and not to Underscore. That's what you get with forks.

Anyway, it appears the issue does indeed also apply to Underscore. I'll fix this with high priority.

[2021-02-28 19:53] jgonggrijp commented on #2911
Hang on. `_.template` allows arbitrary code injection anyway, since that's how the template function is implemented. The *first* argument (the template itself) is *supposed* to contain JavaScript code. Validating the *second* argument is not going to prevent code injection, since whoever submits the second argument is also submitting the first argument (the template and the variable name have to b

[2021-02-28 20:51] jgonggrijp commented on #2911
@AlAyoub I was able to confirm that the vulnerability does not, in fact, apply to Underscore. See #2912.

Underscore will pass the `variable` option to the `Function` constructor as an argument name. This ensures that the name is validated. Lodash doesn't do this, so they needed a fix.

Could you tell me the name of your scanner, preferably with a link to their website, so I can contact the mainta

[2021-03-01 16:47] AlAyoub commented on #2911
@jgonggrijp I apologize for my late response and I appreciate you checking this issue out. The scanner that we use is sonatype nexus and the web address is https://www.sonatype.com/nexus/repository-pro

I will also reach out to sonatype and and share this link mentioning that the mainters believe this is a false alarm.

Thanks again.

[2021-03-01 17:03] jgonggrijp commented on #2911
@AlAyoub thank you for bringing this to our attention. Had it been a true alarm, we wouldn't have known about it without you (or at least not as soon).

[2021-03-02 01:33] AlAyoub commented on #2911
@jgonggrijp I emailed sonatype nexus earlier today and they opened up a JIRA to investigate on their end. I will let you know what their response is either way. Thanks.

[2021-03-03 15:18] AlAyoub commented on #2911
@jgonggrijp - sonatype confirmed that this is a false alarm. Thank you again for acting fast, I appreciate it!

[2021-03-03 17:58] #2911 closed

[2021-03-03 18:00] jgonggrijp commented on #2911
Thanks for wrapping up, @AlAyoub !

[2021-03-05 17:28] ognjenjevremovic commented on #2883
Hey @jgonggrijp 👋

Giving a glimpse to the implementation of `throttle` and `debounce` methods I can see they use the `now` method directly, rather than indirectly referencing them through the globally available `_` object.
Does this mean that the related tests ([this one](https://github.com/jashkenas/underscore/blob/master/test/functions.js#L387) and [this one](https://github.com/jashkenas/unders

[2021-03-05 22:21] jgonggrijp commented on #2883
Hey @ognjenjevremovic 👋

Thanks for taking a peek at this, and for adding the links. I guess I should have done that immediately.

Well, that's basically the core question of this issue. You can't influence `throttle` and `debounce` by overriding `_.now`, but maybe you can _influence the output_ of `now` by overriding `window.Date`/`self.Date`/`global.Date` (or maybe just `Date.prototype.getTime`)

[2021-03-06 13:54] ognjenjevremovic commented on #2883
Thanks for getting back to me.

I'll do some research regarding the `Date` object and see if one could override the methods on the Date `prototype` and how could that affect `throttle` and `debounce` methods.
I'll also go through the rest of the methods from the library and see if there are any other use cases where this might apply as well.

I'll post some updates when I have some 🙂 .

[2021-03-08 14:30] #2883 closed

[2021-03-15 10:16] jgonggrijp opened #2915 "Security leak in _.template, please update"
We were notified of a security issue in `_.template`, which appears to have existed since Underscore version 1.3.2. The bug was fixed in version 1.12.1 and 1.13.0-2, which I just published. If using NPM, please upgrade to `underscore@latest` or `underscore@preview`.

[2021-03-15 10:17] jgonggrijp commented on #2911
@AlAyoub While the Lodash CVE doesn't apply to Underscore, it turns out that there was in fact a security leak in `_.template`. I just published versions 1.12.1 and 1.13.0-2, which fix it. See also #2915.

[2021-03-17 23:37] 1-alex98 commented on #2887
Some other projects might reference this project via git in their package.json. So only documenting it might not solve everybody's case.

[2021-03-18 00:43] jgonggrijp commented on #2887
@1-alex98 Do you mean a package.json entry like the following?

[code]

and if so, could you clarify how this may lead to the fsck error? I've never seen this happen before.

In any case, changing hashes is not really an option.

[2021-03-19 05:30] zackschuster commented on #2887
`npm i underscore@"github:jashkenas/underscore#master"` does not throw an fsck error for me.

[2021-03-19 08:49] willdurand commented on #2915
@jgonggrijp where is the `1.12.1` tag?

[2021-03-19 12:10] jgonggrijp commented on #2915
@willdurand I intentionally postponed pushing that in order to give people who want to exploit the leak less to go on. I'll let you know when I push it.

[2021-03-19 13:22] willdurand commented on #2915
thanks

[2021-03-28 09:44] gwacker opened #2916 "https://underscorejs.org v1.12.1 downloads linking to incorrect version"
The v1.12.1 ESM and UDM downloads (development and production) on https://underscorejs.org/ are linking to old v1.12.0 files

[2021-03-28 11:42] jgonggrijp commented on #2916
Oops! Should be fixed now. The cache is very sticky, so it might take a while before everyone can see it.

Thanks for reporting @gwacker!

[2021-03-28 11:42] #2916 closed

[2021-03-29 15:21] #2915 closed

[2021-03-29 15:22] jgonggrijp commented on #2915
@willdurand The tag is online now.

[2021-04-01 16:11] ilikesleeping opened #2918 "Changes to debounce() causing test failures with mocked timers"
In v1.12.1, it seems the `debounce` method has changed to use `now()`, which holds onto a reference to whatever Date.now was when underscore was loaded the first time.

This has caused problems in our jest tests, where we're using `jest.useFakeTimers` to mock changes in time to test timeouts and suchlike, because any mocked changes to the date functions won't have any effect.

Looking at the tests

[2021-04-01 19:46] jgonggrijp commented on #2918
Thanks for reaching out @ilikesleeping.

There is no intentional breaking change, but I'm not ruling out an unintentional one. Although I currently don't see yet how that should have happened.

The changed logic in `debounce` (#2892) and the changed tests for `debounce` and `throttle` (#2913) that you mention belong to separate pull requests with different objectives. In #2892, @kritollm restored

[2021-04-02 14:46] ilikesleeping commented on #2918
Thanks for the quick and detailed reply.

I've added a simplest possible test case [here](https://github.com/ilikesleeping/underscore-debounce-test) to show the difference between the two versions. Just `npm i && npm test`.

The jest test code runs through any timers set with `setTimeout` and `setInterval` as well as mocking date/time (it uses [sinonjs/fake-timers](https://github.com/sinonjs/fake-

[2021-04-03 00:32] jgonggrijp commented on #2918
@ilikesleeping Thank you for the reduced testcase, it's very informative. I think I now understand how #2892 broke your tests. I did some historical research as well and found more answers. I will not change the logic, for reasons that I'll explain below, but I think there is a different way to fix your tests, which I'll also detail below.

In chronological order, here are some relevant things tha

[2021-04-05 11:09] ilikesleeping commented on #2918
Thanks for the response and history of debounce, very informative. It seems our implementation was perhaps working by chance all along.

Of course prioritising the real-world use cases of course makes sense, so we shall find a way to work around it.

Closing this issue out as there's nothing left to do here.

Thanks again!

[2021-04-05 11:09] #2918 closed

[2021-04-05 11:19] jgonggrijp commented on #2918
@ilikesleeping Thanks for closing. If I can help finding workarounds (for example for module systems other than CommonJS), please let me know.

[2021-04-12 17:32] syed12304 opened #2922 "Black Duck identifies high vulnerability issue with 1.13.0 version"
CVE-2021-23358
Description
The package underscore from 1.13.0-0 and before 1.13.0-2, from 1.3.2 and before 1.12.1 are vulnerable to Arbitrary Code Injection via the template function, particularly when a variable property is passed as an argument as it is not sanitized.

[2021-04-12 23:11] jgonggrijp commented on #2922
@syed12304 This is a false alarm. We fixed CVE-2021-23358 in version 1.12.1 (see #2917 and the [change log](https://underscorejs.org/#changelog)). 1.13.0 is the successor of both 1.12.1 and 1.13.0-3. Please contact the maintainers of Black Duck for a solution.

Next time you want to report a security issue, please don't submit an issue ticket but email us. See the [security policy](https://github.

[2021-04-12 23:11] #2922 closed

[2021-04-15 07:42] kopernic-pl opened #2923 "Underscore fetched with bower stopped working"
There is a difference in how 1.13.0 fetches using NPM and bower.

npm package contains backward-compatibility underscore.js file (underscore-umd copy, as confirmed with diff)

bower, fetching directly from github, does not contain underscore.js file, which genreally breaks a lot.

1.13.0.tar.gz does not contain underscore.js

Is it expected behavior?

[2021-04-15 09:56] jgonggrijp commented on #2923
No that was not expected and not intended. Thanks for reporting, @kopernic-pl!

I don't know much about Bower, to be honest; the bower.json file was already there when I took over maintenance and I never touched it. I'll look into it, but if you have any tips on how to solve the issue, please let me know.

[2021-04-15 10:20] jgonggrijp commented on #2923
@kopernic-pl I took a look at the bower.json, and it seems I actually updated it to use `underscore-umd.js` as the `main` entry instead of `underscore.js`. From what you're writing, I presume that Bower does not abstract away the main entry file name like Node.js does. The [little documentation I could find](https://github.com/bower/spec/blob/master/json.md) about how to configure bower.json doesn

[2021-04-15 11:25] kopernic-pl commented on #2923
No opinion on this one on my side - I'm just upkeeping some legacy project ;)

It's ok for me to use undescore-umd.js but I'm afraid that it will still break something somewhere, in some other projects.
If someone expects 'underscore.js' to be there and rely on this behavior/state, it's going to be rough.

Btw, symbolic links are no-go, so eventual copy seems to be only solution.  Maybe name the f

[2021-04-15 11:33] kopernic-pl commented on #2923
Btw, the 'main' in bower.json just states which files from repository should be pulled to your lockal packages when doing bower init., as per [bower spec](https://github.com/bower/spec/blob/master/json.md#main)

It does not do nothing with files renaming. Bower is prehistoric nowadays 👴

[2021-04-15 11:51] 7ochem commented on #2923
I just ended up here because my build of a legacy project failed when uglifyjs reported it could not find `bower_components/underscore/underscore.js` while trying to build vendors.min.js.

I'll point my uglifyjs config to underscore-umd.js for now (at least that's my take away from this thread here. I didn't know if I would need esm, node or umd 😄 🙈 )

[2021-04-15 12:09] jgonggrijp commented on #2923
@kopernic-pl I won't change the official name of the UMD build back to `underscore.js`; ESM is the future. However, I figured it wouldn't hurt to just commit a copy with the old name. Git works with a hash-based filesystem, so there shouldn't be a significant cost. Expect 1.13.1 in an hour or so.

@7ochem Thanks for chiming in. Your legacy project almost certainly needs the UMD build. I guess I sh

[2021-04-15 12:25] kopernic-pl commented on #2923
I've just pointed my code to umd package from 1.13.0 and it works very well (with require.js as a loader). So for me it is solved, for others @jgonggrijp copy shall be more than OK for next few years :)

[2021-04-15 13:23] #2923 closed

[2021-04-15 13:25] jgonggrijp commented on #2923
@kopernic-pl @7ochem 1.13.1 is up.

[2021-04-15 13:28] 7ochem commented on #2923
Thank you for the fast response and the ultra fast fix! 🙏🏻

[2021-04-15 14:37] jgonggrijp commented on #2923
Welcome!

[2021-04-17 16:37] bacloud14 opened #2924 "Make Underscorejs functions functioning on generators"
note: I port my question on stackoverflow here.

I have dozens of functions acting on arrays. See [here][1] for the sake of illustration.

As you can see I am using **Underscorejs** for most operations.

However I want to write a transformation on my main iteratee which is a list of JSON objects like the following:

    var listings = [{ title: 'title1', d: 0, desc: 'hello world', pass: 'qub7s1ya'

[2021-04-18 01:47] jgonggrijp commented on #2924
@bacloud14 Please include a link to the Stack Overflow question when you do this. I found it though:

https://stackoverflow.com/questions/67138146/make-underscorejs-functions-functioning-on-generators

I consider this a duplicate of #2147 and will close the current issue for this reason. I will still answer your question on Stack Overflow, because I believe the answer could be useful to a wider au

[2021-04-18 01:47] #2924 closed

[2021-04-18 17:46] bacloud14 commented on #2924
@jgonggrijp thank you so much for the follow

[2021-04-19 08:56] bacloud14 commented on #2924
for sake of illustration here is an example with getter attached at runtime which saved my day (instead of generators)

[code]

[2021-04-26 09:41] MalteSaup opened #2925 "Documentation _.unescape uses wrong hex code"
In the documentation you use &#96 ; for the ` Symbol, wich is the correct Decimal Code, but _.unescape seems to only work with the hex code &#x60 ; wich also is returned from the _.escape function

[2021-04-26 10:15] jgonggrijp commented on #2925
Thanks for bringing this to our attention, @MalteSaup! If you like, please feel welcome to submit a PR to fix the documentation and get the credit for it.

[2021-04-28 18:01] pranayCodes opened #2926 "Clarification on "-x" releases"
Hi Team - while working on a side project, I noticed the presence of a "-x" release for the 1.13.0 version. I was checking the semvar standards and these seemed like patch releases, however, these tags were released prior to the major release - which is causing some confusion.

Is this something that underscore is going to follow as a standard? Are theses beta/ alpha releases?

Would love some cla

[2021-04-28 19:10] jgonggrijp commented on #2926
Hi @pranayCodes, thanks for reaching out. The part after the hyphen is the prerelease number. You can think of it as a beta or preview release. Prereleases are described in article 9 of the [semver specification](https://semver.org). "Patch" refers to the third portion in the main number, so 0 in 1.13.0.

In case of doubt about order, you can always refer to the [change log](https://underscorejs.o

[2021-04-28 19:10] #2926 closed

[2021-04-28 19:23] pranayCodes commented on #2926
Thank you @jgonggrijp - that does answer my question. Appreciate the quick turnaround.

[2021-05-12 15:13] dylemma opened #2927 "Regression(?) in `sample` behavior for strings"
Hi and thanks for the really handy library! I've had a dependency on underscore on a work project for many years now (we were using version 1.8.3) and I just merged a dependabot update which pulled in version 1.12.1 and noticed an unexpected change in the behavior of the `sample` function.

Previously, you could pass a `string` as the `list` argument, and it would be treated as an array of charact

[2021-05-12 15:21] Sacharified commented on #2918
@jgonggrijp Is there a recommended way to test these then? Importing an older version of the library to use a specific function in tests while using a newer version in production doesn't really seem like a very maintainable approach.

[2021-05-12 16:11] jgonggrijp commented on #2927
Thanks for reporting, @dylemma. I was able to trace this down to #2158 and confirm that this is indeed a regression, which was already introduced in 1.9.0 (ironically, right after the version you were using).

The reason is that in 1.8.3, `sample`/`shuffle` was filling a new empty array, while from 1.9.0 onwards, it starts with a clone of the input collection. It now uses `_.clone` for "array-like

[2021-05-17 14:31] Sacharified commented on #2918
@jgonggrijp Thanks for the response

I want to understand regardless of my use case: What's the recommended way to test a function which implements `debounce` in the current version of this library without having to wait for the real timers?

Here's my issues with this: I don't want to have to include 2 different versions of Underscore in my project. I don't want to have a different implementation

[2021-05-17 16:16] jgonggrijp commented on #2918
@Sacharified So here's the thing. In your application in production, you're debouncing something, which implies a substantial delay. If you don't want to have that delay in your unittests, you're always going to *somehow* make your unittests different from the application in production. You could fake the time, change logic, lower the debounce interval, or a combination of such measures. In all ca

[2021-05-18 11:22] ilikesleeping commented on #2918
For what it's worth, I ultimately solved my issue by switching to use [this debounce](https://www.npmjs.com/package/debounce) instead, which I believe is the implementation from lodash. That one works just fine with mocked timers. (Sorry @jgonggrijp!)

[2021-05-18 12:11] jgonggrijp commented on #2918
@ilikesleeping The Readme of that package states that it was extracted from Underscore, but I wouldn't mind either way. It's your project. If you are using Underscore in production and also that alternative debounce implementation, do realize that your users are downloading two implementations of `debounce`.

[2021-05-21 11:11] tstibbs opened #2929 "ES6 module support broken in 1.13.x"
When importing underscore into an ES6 module, an error is raised by the compiler.

### To reproduce
1. Populate `index.mjs` like this:
[code]

1. `npm install underscore@1.13.1`
1. `node index.mjs`
1. An error will be logged as follows:
[code]

### What I've tried

- Using a `.js` file and declaring `"type": "module"` in the `package.json` results in the same error.
- Switching to the named import

[2021-05-22 17:02] jgonggrijp commented on #2929
Thank you for reaching out, @tstibbs. I'm a bit surprised by the problem you're running into, for two reasons.

**Theoretical reason:** the Node.js documentation [states](https://nodejs.org/dist/latest-v14.x/docs/api/esm.html#esm_import_statements) that

I ensured that this static analysis was possible in the `underscore-node-f.cjs` by [listing each named export separately](https://github.com/jash

[2021-05-24 06:37] tstibbs commented on #2929
Yes, a node upgrade fixed it... (14.13.0 was the latest available in my package repo but that seemed to be enough). Looking at the changelog it looks like the CJS export detection didn't appear until 14.13 (https://github.com/nodejs/node/pull/35249).

I probably should have tried that first, thanks for the pointer and the well reasoned response, and sorry for the spurious report!

[2021-05-24 06:37] #2929 closed

[2021-05-24 12:35] jgonggrijp commented on #2929
No problem @tstibbs, I'm glad your problem has been solved!

[2021-07-08 16:16] itsdeekay commented on #2925
Hi @jgonggrijp , I have started contributing to open source. Could you assign this issue to me so that I can contribute?

[2021-07-08 16:25] jgonggrijp commented on #2925
@itsdeekay Thanks for stepping up! You can contribute without being assigned, but I don't mind assigning people so there you are.

[2021-07-08 16:39] itsdeekay commented on #2925
Thanks @jgonggrijp , I have created a pull request for the same. Do you have any contribution guidelines for this project? So that I can follow it

[2021-07-09 15:41] #2925 closed

[2021-07-13 16:33] itsdeekay commented on #2909
@gprasanth You can raise PR . Recommended would be to use in index.html itself as all of the existing code is inside it. Also it ca be separated in docs folder and with specified folder.

[2021-08-07 14:46] zheng-kai opened #2936 "Conceivable _.throttle bug goes undetected in /test/functions.js"
Hello, I'm a beginner to throttle.When I tried to implement the throttle function, I found that the test cases was incomplete.
My throttle function will execute func as many times as it was called.But tests don't detect this bug.
Here is my implement.
[code]
This is a test case that exposed the bug.
[code]
Can modify the first test case about throttle like this
[code]

[2021-08-07 19:20] jgonggrijp commented on #2936
Hey @zheng-kai, thank you for sharing the fruits of your research effort here.

Did you mean that your (slightly faulty) implementation passes all `_.throttle` tests? That is quite impressive by itself already. My compliments.

So there is a bug in your implementation that our tests can't detect. That lack of detection I wouldn't call a bug in itself; it's impossible to cover all conceivable bugs

[2021-08-09 02:46] zheng-kai commented on #2936
Yes,my implementation passes all _.throttle tests.
I'll submit a pull request soon.
oh, the correct output should be
[code]

[2021-08-09 02:50] zheng-kai commented on #2936
Thanks for your response😆

[2021-08-14 12:08] chin14 opened #2938 "Uncaught TypeError: Cannot read property '_' of undefined"
This is my first time posting a problem here, so if I'm doing something wrong, sorry!
I'm getting this error and I don't quite get it.

Here I am again with a problem I can't solve ! I'm getting this error and I don't quite get it.

enter image description here

After opening the DOM and reading the whole error and a lot of hours spend on Google, the only thing I got was that it looks like the err

[2021-08-14 19:16] jgonggrijp commented on #2938
Welcome to the issue tracker, @chin14. It is OK to be new.

The error message means that *somewhere*, there is a line being executed that contains an expression that looks like `something._`, and `something` happens to be undefined at that point. This might be related to the Underscore library but it also might not.

How did you reach the conclusion that the error is triggered inside the `const [u

[2021-08-16 09:29] chin14 commented on #2938
Thanks! @jgonggrijp

I never really used a debugger, and this is also my first React project.

My conclusion is based on the error message I got, there is a part where it says this is a part of the error. I figured that could be it. Maybe I'm wrong, I really don't know, haha. Anyway I tried a lot of things, I also removed this line of code:

[code]

Now the error is gone, but I don't know how to r

[2021-08-16 10:08] jgonggrijp commented on #2938
If removing those lines silences the error, that seems to suggest the problem is somewhere in those lines (i.e., either in `firebase.auth()`, `setUser(currentUser)` or `setUserPosts(posts)`). I don't know how to replace those lines (or whether you should even replace them at all), because I never use React, but when you step with a debugger, you might want to set your breakpoint just before those

[2021-09-01 12:12] Relik77 opened #2940 "uniq doesn't use property "isSorted" if an iteratee function is passed"
I have an array of objects that I want to make unique based on a property of the object, and I know the array is already sorted by that property.
[code]
So I want to use the optimized algorithm but, according to the code of the function this is not the case:

[code]

[2021-09-01 13:28] jgonggrijp commented on #2940
Acknowledged. I'm considering to (partially) address this in version 2.0, as it would be a breaking change. See https://github.com/jashkenas/underscore/pull/2930 for further discussion.

[2021-09-01 13:39] #2940 closed

[2021-10-12 15:43] penguinsAreFunny opened #2942 "Feature Request: mean, median, sum"
Hello,

I am not sure where to post a feature request as I am not used to Github yet.
Is this the right place for feature requests?

I would like support for simple arithmetic operations like mean, median, sum (and perhaps some more) in underscore.
Like this: https://gist.github.com/AndreasBriese/1670507

Some more suggestions: difference, relativeDifferences, minDifference, maxDifference, minRela

[2021-10-12 20:22] jgonggrijp commented on #2942
Thanks for reaching out @penguinsAreFunny! This is the right place for feature requests.

Underscore aims to stay mean and lean, so it includes only the most fundamental functions that nearly every application needs. For all other functions, we have Underscore-contrib, an open-ended extension library where people can contribute "ad libitum". It so happens that somebody already made a start at cont

[2021-10-12 20:22] #2942 closed

[2021-10-31 19:49] velikayikci commented on #237
let value 'Hello <% obj.foo.bar %>';
try {
                    _.template(value, {  });
                } catch (e) {
                    if ((e.message as string).includes('Cannot read properties of undefined')) {
                        value = value.replace(/<%.*%>/, ''); // remove beetween <% %>
                }

               // value = Hello

[2021-10-31 19:57] paztis commented on #237
This is on when you've only one variable in your template

[2021-10-31 20:53] jgonggrijp commented on #237
@velikayikci

Please note that this only compiles the template. It doesn't render it. Unless you're using a very old version of Underscore.

To anyone still running into issues like these, two words of advice.

Firstly, [explicitly setting the `variable` when compiling the template](https://underscorejs.org/#template) will let you access arbitrary unset properties on the root data object unpunishe

[2021-12-15 14:49] #2780 closed

[2021-12-15 14:53] jgonggrijp commented on #2938
@chin14 Did you find out what was causing the problem? Did it have anything to do with Underscore?

[2021-12-16 03:04] #2927 closed

[2021-12-16 03:06] jgonggrijp commented on #2927
@dylemma @KenProle fixed, will be in the next release, which I expect to be up within a day or so.

[2021-12-16 03:31] #2936 closed

[2021-12-16 03:35] jgonggrijp opened #2945 "CI not kicking off"
I first noticed this in #2937.

[2021-12-17 01:44] jgonggrijp commented on #1514
This would be a breaking change, which would mean it could not happen until 2.0. In 2.0, however, the set operations should operate on actual `Set`s, which makes the point moot. Closing for this reason.

[2021-12-17 01:44] #1514 closed

[2021-12-17 01:55] jgonggrijp commented on #1862
2.0 Should just use `Map` internally. No need for fancy wrappers.

[2021-12-21 23:55] jgonggrijp opened #2947 "Utility functions for prototype-based programming"
While class emulation is widespread nowadays, prototypes are JavaScript's true vehicle of inheritance. The following snippets of code, which contain equivalent pairs, demonstrate that prototype-based programming is more fundamental and explicit:

[code]

[code]

[code]

Since prototypes are so fundamental, I believe there is space in Underscore for utility functions that make prototype-based progr

[2021-12-22 03:34] jashkenas commented on #2947
I fairly strongly feel like Underscore shouldn't try to introduce a new system for doing OOP-in-JS, elaborated on a bit here: https://github.com/jashkenas/backbone/issues/4245#issuecomment-999259553

[2021-12-22 22:44] jgonggrijp commented on #2945
Almost certainly relevant: https://travis-ci.community/t/integrating-my-github-repository-returns-we-couldn-t-find-any-active-repositories-you-have-access-to/11770

[2021-12-22 23:20] jgonggrijp commented on #2887
I looked for a commit that contains the b252cd0cf660db8fea1a40ae7d3ba0e34a41ffd3 tree, using [this recipe](https://stackoverflow.com/a/41090798/1166087), and found it in f0427da9cf24e46b57530c357b54c73fb1a39115, which unfortunately is reachable from master and dates back to Underscore's earliest days in 2010. I didn't even bother to look for 8a654ec549a230dcab28e54c6e53c460cb9e190d after that, sin

[2022-01-22 03:58] jgonggrijp commented on #2945
@jashkenas migrated the repo to travis-ci.com so it should be fixed now. I'll wait with closing this until we see it in action.

[2022-01-22 03:59] pointert commented on #2945
您的邮件我已收到，谢谢！

[2022-02-28 19:45] StudioSpindle opened #2948 "Possibility to update a nested object's property in a non-mutable way"
Currently I am using something like:

[code]
To make the point clear, it would be ideal to have something similar to the [set method in lodash](https://lodash.com/docs/4.17.15#set):

[code]

Note: I am not aware of how lodash and underscore are related but the current project I'm working on is using underscore. And at this time it's not possible to convert to lodash just for this single use-case.

[2022-02-28 19:46] dogbubu commented on #2948
gsdg54sdg5s4d5gドっぱくラバニラサダウのブはとてもおいしそうなりんかマカョ♂

[2022-02-28 21:46] jgonggrijp commented on #2948
Yes, I agree it would make sense to have a `set` function in Underscore as well. In the meanwhile, you can define your own `set` function like this so it will be maintainable and reusable and integrate well with Underscore:

[code]

Use it like this:

[code]

You can add it to Underscore so you can also use it in chaining:

[code]

If you want to use shorthand dotted paths of the form `'bar.baz.qu

[2022-03-06 07:58] RaymondClr opened #2949 "_.max gets incorrect results in extendScript"
[code]
After my troubleshooting, I found that the problem first appeared in version 1.7.0

[code]

[2022-03-06 11:31] jgonggrijp commented on #2949
@RaymondClr Thanks for reporting.

I don't have the means to reproduce the problem. Your code example returns `60`, as it should, with Underscore 1.13.2 in Safari. `_.max` is also passing the unittests in Node.js and several browsers, which include examples like yours.

I looked at [the diff between 1.6.0 and 1.7.0](https://github.com/jashkenas/underscore/compare/1.6.0...1.7.0#diff-246afe7b9e4859c

[2022-03-06 14:07] RaymondClr commented on #2949
@jgonggrijp
Thank you for your reply. First of all, I am sorry that my English is not very good. The following content is the result of Google translation. I hope it can express my meaning correctly.

extendScript has a very old debugging tool (its official download page is not even accessible anymore), called Adobe ExtendScript Toolkit CC, its debugging function is very poor, so I can only troubl

[2022-03-06 17:35] jgonggrijp commented on #2949
Excellent research @RaymondClr, thanks a lot!

Now that we know that ExtendScript has the relative precedence of `||` and `&&` wrong, we should add parentheses everywhere these operators occur in the same expression. If you like, you can submit a pull request with such a change and get the credit. Otherwise, I'll do it.

If you choose to prepare your own pull request, please make sure to run `npm

[2022-04-04 14:34] jgonggrijp commented on #2945
Confirmed in #2950.

[2022-04-04 14:37] jgonggrijp opened #2952 "Sauce Labs tests not kicking off in CI"
https://app.travis-ci.com/github/jashkenas/underscore/jobs/565691474#L846

This issue is somewhat related to, but different from, #2945.

[2022-04-07 11:04] naugtur opened #2954 "modules/* are defined as CJS in package.json exports"
the `default` keyword will most likely be interpreted as pointing to CJS files. Was that supposed to be `import`?
https://github.com/jashkenas/underscore/blob/master/package.json#L46

[2022-04-08 08:48] naugtur commented on #2954
ok, I found this https://github.com/jashkenas/underscore/blob/master/modules/package.json

Can't say I like the idea :D

[2022-04-08 08:48] #2954 closed

[2022-04-08 18:26] jgonggrijp commented on #2954
I agree it's an ugly hack. There's not much I can do about it, given that the Node.js maintainers decided to put up all kinds of barriers between CommonJS and ESM and given that I didn't want to break backwards compatibility.

[2022-04-08 19:21] naugtur commented on #2954
.mjs is less surprising, at least to me as someone who works on loading packages. Implementing lookups for package.json in every folder sucks, but it is established and had to be done 🤷

[2022-04-09 14:13] jgonggrijp commented on #2954
Also, if you ask me, .mjs is an ugly hack as well. It's very specific to Node.js as well, while the `modules/*` are mostly intended for consumption by bundling tools.

[2022-04-23 14:42] jgonggrijp commented on #2949
@RaymondClr I just found out that the minifier is already disambiguating expressions with `&&` and `||` by adding parentheses. Could you confirm that the issue only happens with the unminified version of Underscore?

[2022-04-23 14:43] dogbubu commented on #2949
gsdg54sdg5s4d5gドっぱくラバニラサダウのブはとてもおいしそうなりんかマカョ♂

[2022-04-23 15:56] #2949 closed

[2022-04-23 16:07] jgonggrijp commented on #2952
Actually, it is kicking off perfectly fine, just not on PRs from forks because they don't have the credentials. Need to keep in mind that I should check the latest build on `master` before starting a release.

[2022-04-23 16:07] #2952 closed

[2022-04-28 08:27] npmmirror opened #2957 "Git.io deprecation notice"
Hello, I've found that some of your files in this repo is still using https://git.io/, and this service will be discontinued in the future. (ref: [Git.io deprecation](https://github.blog/changelog/2022-04-25-git-io-deprecation/))
Theses files are: .github/workflows/codeql-analysis.yml

[2022-04-29 20:35] #2887 closed

[2022-05-23 10:19] petschki opened #2958 "webpack - module federation "No version" warning as a shared module with version"
we use this package with webpack module federation which complains, that there's no version secified in `modules/package.json`

[code]

[2022-05-31 06:58] petschki opened #2960 "Minor release with module federation "no version" fix?"
Hi ... would be cool to have a new minor release with this merged PR for module federation fix #2959 ... thanks!

[2022-06-02 12:20] jgonggrijp commented on #2960
Sorry for the delay, I'm on it now.

[2022-06-02 12:48] #2960 closed

[2022-07-19 12:27] jgonggrijp commented on #2948
I just noticed the "non-mutable" part of the issue title... sorry for missing that previously.

I want to avoid introducing new functions to Underscore that have the same name as a function in Lodash, but different semantics. So a `set` function in Underscore should be mutating. However, a `setClone` function is conceivable using `_.clone`, analogous to the code I wrote before:

[code]

It does ex

[2022-09-07 08:40] jgonggrijp commented on #2809
Reopening this, because I'm seriously considering to replace `chain` by `pipe` in future Underscore 2.0. Motivation:

- `chain` only works with functions that have been added through `mixin`, while `pipe` can work with any function if implemented well.
- `chain` prevents treeshaking (because of `mixin`), `pipe` doesn't.

Ditching `chain` might also imply ditching the OOP notation and fully committ

[2022-09-07 10:53] jgonggrijp commented on #2942
@shtse8 Thank you for reaching out; no need to apologize.

Unfortunately, once a function is added to Underscore through `mixin`, it can no longer be treeshaken. So if we were to add `sum`, `mean`, `median` etcetera to core Underscore and mix them in like all other functions, all users of the monolithic interface would be paying for their presence. In fact, this is one of the reasons why I'm consi

[2022-09-23 19:45] RomanKisilenko opened #2967 "1.13.5 fails to install in a node.js docker container"
npm ERR! file sh
npm ERR! code ELIFECYCLE
npm ERR! errno ENOENT
npm ERR! syscall spawn
npm ERR! underscore@1.13.5 postinstall: `patch-package`
npm ERR! spawn ENOENT
npm ERR!
npm ERR! Failed at the underscore@1.13.5 postinstall script.

Please revert the failed release or release a bugfix.

[2022-09-23 19:48] vincent-ogury commented on #2967
same issue here:
[code]

[2022-09-23 19:50] Nauzer commented on #2967
Same here on node v12.22.7

[2022-09-23 19:52] rubenesda commented on #2967
Same issue on node v11.14.0 Could this be fixed?

[2022-09-23 19:53] vincent-ogury commented on #2967
solve for now with:
[code]
in the package.json.
It will force underscore to this version

[2022-09-23 19:56] SebastianBar commented on #2967
@jgonggrijp a hand over here, please? It seems to be related to https://github.com/jashkenas/underscore/commit/08cb1404eb27b80bcadb87a32fcd515f23f7c9a6

[2022-09-23 20:02] leithouse commented on #2967
The issue is in the post install script in package.json
https://github.com/jashkenas/underscore/blob/68e5eb68635548846b4663479b9d0fc78d090b0a/package.json#L95

[2022-09-23 20:03] nicolasKuhn-y commented on #2967
Same Issue. It broke a popular app

[2022-09-23 20:14] yannickcare commented on #2967
I added this in my package.json, also the
`  "scripts": {
    "preinstall": "npx npm-force-resolutions"
  },`

but I still getting the issue underscore@1.13.5 postinstall: `patch-package`

[2022-09-23 20:24] Rofer11607 opened #2968 "Npm install fails due to post install script"
hello,
I cannot deploy my firebase project because this is a dependency to alot of packages I have installed. The remote build bails with code 127 and says 'sh: patch-package: command not found'

I tried to install the package locally and the same thing happens when I run npm install underscore --force. How can I fix this?

[2022-09-23 20:26] vincent-ogury commented on #2968
duplicate this: https://github.com/jashkenas/underscore/issues/2967

[2022-09-23 20:28] yannickcare commented on #2967
Modified the DockerFile to include :
`RUN npm install --production --unsafe-perm`

which let me run the "resolutions" but in the end I still have underscore@1.13.5 postinstall /app/node_modules/underscore

[2022-09-23 20:44] markfoo1 opened #2969 "Patch is a dev dependency in 1.13.5."
Consumers who use underscore as a dependency rather than as a dev dependency fail in postinstall because patch package is not available.

[2022-09-23 20:47] mjaggard commented on #2969
This has broken my build :(

[2022-09-23 20:56] ODGodinho opened #2970 "Underscore v1.13.5 install error"
I'm getting the following error with the new version v1.13.5

Exit code: 127
Command: patch-package
Arguments:
Directory: /home/dev123/Documentos/projetos/MyProject/node_modules/underscore
Output:
/bin/sh: 1: patch-package: not found
    at ProcessTermError.ExtendableBuiltin (/home/dev123/.nvm/versions/node/v16.17.0/lib/node_modules/yarn/lib/cli.js:721:66)
    at ProcessTermError.MessageError (/ho

[2022-09-23 20:57] iglosiggio commented on #2968
You can add patch-package as a devDependency in your project (as a hacky workaround, i don't really like the idea of a dependency patching other dependencies).

[2022-09-23 20:57] Keysox commented on #2967
Another workaround is `yarn install --ignore-scripts`

[2022-09-23 20:59] iglosiggio commented on #2970
You can add patch-package as a devDependency in your project (as a hacky workaround, i don't really like the idea of a dependency patching other dependencies).
This was triggered by https://github.com/jashkenas/underscore/commit/08cb1404eb27b80bcadb87a32fcd515f23f7c9a6

[2022-09-23 20:59] mykola-mokhnach commented on #2970
I can confirm, we started observing the same error after the recent release:
https://github.com/appium/appium-uiautomator2-driver/actions/runs/3115559702/jobs/5052578876

[2022-09-23 21:01] vfidelix opened #2971 "underscore@1.13.5 - patch-package not found"
I'm founding problems when trying to compile my project with the 1.13.5 version.

`npm ERR! sh: 1: patch-package: not found`

![image](https://user-images.githubusercontent.com/11541680/192056035-4958e88b-9b2c-44b1-8d92-204896d650aa.png)

[2022-09-23 21:01] boneskull commented on #2970
I think that should be `prepare`, not `postinstall`.

[2022-09-23 21:01] boneskull commented on #2970
cc @jgonggrijp

[2022-09-23 21:04] dpavancini commented on #2971
Same here
Exit code: 127
Command: patch-package

[2022-09-23 21:07] ODGodinho commented on #2970
The command did not solve
`yarn add patch-package`
nor putting it directly in package.json and running `yarn`

[2022-09-23 21:11] joeycozza commented on #2971
Duplicate of https://github.com/jashkenas/underscore/issues/2967

[2022-09-23 21:11] joeycozza commented on #2970
Duplicate of https://github.com/jashkenas/underscore/issues/2967

[2022-09-23 21:11] joeycozza commented on #2969
duplicate of https://github.com/jashkenas/underscore/issues/2967

[2022-09-23 21:24] coughlinj commented on #2967
Workaround:

`npm i patch-package `

Before doing anything that requires underscore as a dependency.

[2022-09-23 21:26] iglosiggio commented on #2970
Sorry, that advice was mistaken. Installing patch-package globally works. I would advice against doing it... but works.

[2022-09-23 21:28] ODGodinho commented on #2970
problem solved by putting `resolutions` in my package.json

[code]

[2022-09-23 21:46] mgrouch opened #2973 "Fails to install with pnpm"
node_modules/.pnpm/underscore@1.13.5/node_modules/underscore: Running postinstall script...
 ELIFECYCLE  Command failed.

thanks

[2022-09-23 22:08] SantiagoMejorada commented on #2967
This save my build! Thanks a lot!

[2022-09-23 22:22] jgonggrijp commented on #2968
I just released 1.13.6, hopefully that fixes it. Please close if that is the case.

[2022-09-23 22:22] jgonggrijp commented on #2971
I just released 1.13.6, hopefully that fixes it. Please close if that is the case.

[2022-09-23 22:23] jgonggrijp commented on #2969
I just released 1.13.6, hopefully that fixes it. Please close if that is the case.

[2022-09-23 22:23] jgonggrijp commented on #2970
I just released 1.13.6, hopefully that fixes it. Please close if that is the case.

[2022-09-23 22:26] jgonggrijp commented on #2967
I just released 1.13.6, hopefully that fixes it. Please close if that is the case.

[2022-09-23 22:52] #2967 closed

[2022-09-23 22:52] #2968 closed

[2022-09-23 22:53] #2969 closed

[2022-09-23 22:53] #2970 closed

[2022-09-23 22:54] #2971 closed

[2022-09-23 22:55] #2973 closed

[2022-10-14 11:27] marzzy opened #2975 "Modular import cause error in typescript apps"
As you can see in this [Codesand example,](https://codesandbox.io/s/react-typescript-underscore-efciu8) I try to use the modular import in a typescript project, it works, but cause the error below:

`Cannot find module 'underscore/modules/map' or its corresponding type declarations.ts`

[2022-10-14 19:31] jgonggrijp commented on #2975
Thank you for reaching out, @marzzy.

I do not see the error you report. Where should I look?

![Schermafbeelding 2022-10-14 om 21 29 46](https://user-images.githubusercontent.com/1540185/195927223-44fef2ab-a52b-4d3b-8d38-ab9b09b7f6a2.png)

[2022-10-15 16:10] marzzy commented on #2975
It takes 2-3 minutes to load fully, after that, the error will appear on the address part like this:

<img width="698" alt="Screenshot 2022-10-15 at 18 07 01" src="https://user-images.githubusercontent.com/20150023/195996585-6228ab05-66c7-4d00-b6f8-32aafcbadf1c.png">

[2022-10-16 19:23] jgonggrijp commented on #2975
Thanks, I see it now. The problem is in `@types/underscore/package.json`, which forbids TypeScript from importing anything other than the monolithic version of the package (`exports` field):

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/underscore/package.json

Contrast this with Underscore's own `package.json`, which does allow module imports:

https://github.com/jashkenas

[2022-10-18 16:39] jgonggrijp commented on #2975
Closing this as the question seems answered. Please feel welcome to comment again, though.

[2022-10-18 16:39] #2975 closed

[2022-11-12 15:20] stevespages opened #2976 "Missing link"
I am a very new user and may have missed something very obvious so apologies it that is the case.

I feel there should be a link from this page: https://underscorejs.org/#debounce to this page: https://underscorejs.org/docs/modules/debounce.html

Obviously that is just an example and would apply to every function.

[2022-11-12 21:27] jgonggrijp commented on #2976
No, you are absolutely right! There is no such link yet, even though it would make sense. The historical reason is that all Underscore source code used to be in a single file. However, now that every function lives in a separate module (since 1.11), it should be easy to add.

Thanks for the suggestion!

[2022-11-13 02:06] #2976 closed

[2022-11-13 02:13] jgonggrijp commented on #2976
@stevespages The main website now includes an annotated source link for each function. Please let me know whether you are happy with it.

[2022-11-14 00:57] stevespages commented on #2976
I just saw it. I think that is great! Also good that the link is labelled as 'SOURCE' so it is clear what it is. I am now wondering whether you should have a link from that page back to the # on the original page? I think clutter is bad but on the other hand I can imagine that might be useful.

I am actually just using underscorejs to try and improve my programming understanding but with a view to

[2022-11-14 09:27] jgonggrijp commented on #2976
@stevespages I think that could be done efficiently. If you were the one adding the back link, where on the annotated source page would you put it?

As for incorporating Underscore in your code, what is holding you back?

[2022-11-14 10:48] stevespages commented on #2976
I guess it could go under the h1 title. I was thinking it might be good to make it upper case and style it like the SOURCE link as they are 'complimentary' links. I am not quite sure what word you would use for the link to describe those sections but MORE or INFO might work if there is nothing more specific.

I seem to have spent years learning to code and never actually taken on any paid work. So

[2022-11-14 23:58] jgonggrijp commented on #2976
How about DOCUMENTATION? I agree under the `<h1>` makes sense, and it also seems easy to do from a technical standpoint.

Happy to hear that my article inspired you! For some more practical, hands-on Underscore inspiration, you might like some of my Stack Overflow answers:

- [underscore how to filter all objects when there are multiple parameters](https://stackoverflow.com/a/63625129/1166087)
- [

[2022-11-15 22:11] stevespages commented on #2976
DOCUMENTATION sounds good to me. I will take a look at those Stackoverflow answers. I am spending far too long on Stackoverflow trying to get passed 1000 reputation which I am finding much harder than I thought it would be.  After that I am hoping to get back to building an app...